{{> header/header-login}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Личный кабинет</li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="container">
            <h3 class="block-title">Личный кабинет</h3>


            <div class="nav nav-tabs lk-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="false">Личные данные</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">Мои заявки</a>
                <a class="nav-item nav-link nav-link-detailed active" id="nav-detailed-tab" data-toggle="tab"
                   href="#nav-detailed"
                   role="tab"
                   aria-controls="nav-detailed" aria-selected="true">Заявка на займ 8547
                    <span class="icon-close"></span></a>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="lk-table1">
                        <div class="d-flex lk-table1__header">
                            <div class="lk-table1__col1">Общие сведения</div>
                            <div class="lk-table1__col2">Карточка физ.лица</div>
                            <div class="lk-table1__edit"><span class="icon-edit"></span>Редактировать</div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">ФИО:</div>
                            <div class="lk-table1__col2">
                                <p>Александров Александр Александрович</p>
                                <input class="lk-input" type="text" disabled
                                       value="Александров Александр Александрович">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Дата рождения:</div>
                            <div class="lk-table1__col2">
                                <div class="lk-date">
                                    <p>14.11.1988</p>
                                    <input value="">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Телефон:</div>
                            <div class="lk-table1__col2">
                                <p>(383) 209-13-33</p>
                                <input class="lk-input" type="tel" disabled value="(383) 209-13-33">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">E-mail:</div>
                            <div class="lk-table1__col2">
                                <p>info@microfund.ru</p>
                                <input class="lk-input" type="email" disabled value="info@microfund.ru">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Фактический адрес:</div>
                            <div class="lk-table1__col2">
                                <p>630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12</p>
                                <input class="lk-input" type="text" disabled
                                       value="630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Адрес регистрации:</div>
                            <div class="lk-table1__col2">
                                <p>630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12</p>
                                <input class="lk-input" type="text" disabled
                                       value="630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">ИНН:</div>
                            <div class="lk-table1__col2">
                                <p>3664334497</p>
                                <input class="lk-input only-number" type="text" disabled value="3664334497">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">СНИЛС:</div>
                            <div class="lk-table1__col2">
                                <p>1053600455597</p>
                                <input class="lk-input only-number" type="text" disabled value="1053600455597">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="lk-table2">
                        <div class="d-flex lk-table2__header">
                            <div class="lk-table2__col lk-table2__date">Дата</div>
                            <div class="lk-table2__col lk-table2__id">ID</div>
                            <div class="lk-table2__col lk-table2__type">Вид займа</div>
                            <div class="lk-table2__col lk-table2__status">Статус заявки</div>
                        </div>
                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>11.02. 2020</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>0755</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-waiting">Ожидание пакета документов</p>
                            </div>
                        </div>

                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>16.02. 2020</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>5574</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-new">Новая (черновик)</p>
                            </div>
                        </div>

                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>01.06. 2019</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>6354</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-denied">Новая (черновик)</p>
                            </div>
                        </div>

                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>21.04. 2019</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>8547</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-approved">Одобрено</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade show active" id="nav-detailed" role="tabpanel"
                     aria-labelledby="nav-detailed-tab">
                    <div class="detail">
                        <div class="d-flex detail__header">
                            <p class="p1">Заявка на займ: <span>8547</span> от <span>11.02.2020</span></p>

                            <div class="status">
                                Статус:
                                <span>Одобрено</span>
                            </div>
                        </div>

                        <div class="detail__body">
                            <div class="d-flex detail__line">
                                <h6>Вид займа</h6>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="d-flex detail__line">
                                <h6>Сумма, руб</h6>
                                <p>3 500 000 руб</p>
                            </div>
                            <div class="d-flex detail__line">
                                <h6>Ставка, % годовых</h6>
                                <p>5,75%</p>
                            </div>
                            <div class="d-flex detail__line">
                                <h6>Срок, мес.</h6>
                                <p>18 месяцев</p>
                            </div>
                            <div class="d-flex detail__line">
                                <h6>Отсрочка, мес</h6>
                                <p>1 мес</p>
                            </div>

                            <div class="calc-form__graphic">
                                <div class="icon icon-calendar-green"></div>
                                <div>График погашения</div>
                                <div class="icon icon-arrow-down-green"></div>
                            </div>

                            <div class="graph-table">
                                <div class="d-flex graph-table__row graph-table__header">
                                    <div class="graph-table__col1">№ п/п</div>
                                    <div class="graph-table__col2">Дата платежа</div>
                                    <div class="graph-table__col3">
                                        <p>Сумма к уплате</p>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">Проценты</div>
                                            <div class="graph-table__col5">Основной долг</div>
                                            <div class="graph-table__col6">Итого</div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">Остаток основного долга</div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 1</span>
                                        <p>1</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 2</span>
                                        <p>2</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 3</span>
                                        <p>3</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 4</span>
                                        <p>4</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 5</span>
                                        <p>5</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 6</span>
                                        <p>6</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>

                                <div class="d-flex graph-table__row">
                                    <div class="graph-table__col1">
                                        <span>№ п/п 7</span>
                                        <p>7</p>
                                    </div>
                                    <div class="graph-table__col2">
                                        <span>Дата платежа</span>
                                        <p>11.02.2020</p>
                                    </div>
                                    <div class="graph-table__col3">
                                        <span>Сумма к оплате</span>
                                        <div class="d-flex flex-column flex-md-row">
                                            <div class="graph-table__col4">
                                                <span>Проценты</span>
                                                <p>6 721, 31 руб</p>
                                            </div>
                                            <div class="graph-table__col5">
                                                <span>Основной долг</span>
                                                <p>83 333, 00 руб</p>
                                            </div>
                                            <div class="graph-table__col6">
                                                <span>Итого</span>
                                                <p>90 054, 31 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="graph-table__col7">
                                        <span>Остаток <br>основного долга</span>
                                        <p>916 667,00 руб</p>
                                    </div>
                                </div>
                            </div>

                            <h3>Поданные документы:</h3>

                            <ul class="detail__doc">
                                <li>Анкета (для физических лиц)</li>
                                <li>Заявление на получение микрозайма</li>
                                <li>Справка об отсутствии обременений</li>
                                <li>Копия паспорта гражданина РФ</li>
                                <li>Копия ИНН</li>
                            </ul>

                            <h3>Изменения статуса заявки:</h3>
                            <div class="detail__status">
                                <div class="detail__status--item">
                                    <div class="detail__status--manager">
                                        <p>Менеджер:</p>
                                        <time>10.02.2020</time>
                                    </div>

                                    <div class="detail__status--info">
                                        <p>Статус заявки изменен на <span class="text-red">Отклонено</span></p>
                                        <div class="d-flex detail__status--line">
                                            <p>Причина: </p>
                                            <p>Предоставлена недостоверная информация о Заявителе.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="detail__status--item">
                                    <div class="detail__status--manager">
                                        <p>Менеджер:</p>
                                        <time>10.02.2020</time>
                                    </div>

                                    <div class="detail__status--text">
                                        <p>Статус заявки изменен на
                                            <span class="text-green">Ожидание пакета документов</span></p>
                                    </div>
                                </div>

                                <div class="detail__status--item">
                                    <div class="detail__status--manager">
                                        <p>Менеджер:</p>
                                        <time>10.02.2020</time>
                                    </div>

                                    <div class="detail__status--text">
                                        <p>Заявка отправлена на рассмотрение.<br>
                                            Статус заявки изменен на <span class="text-green">Подано</span></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
