{{> header/header-login}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Личный кабинет</li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="container">
            <h3 class="block-title">Личный кабинет</h3>


            <div class="nav nav-tabs lk-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                   aria-controls="nav-home" aria-selected="true">Личные данные</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                   aria-controls="nav-profile" aria-selected="false">Мои заявки</a>
            </div>

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="lk-table1">
                        <div class="d-flex lk-table1__header">
                            <div class="lk-table1__col1">Общие сведения </div>
                            <div class="lk-table1__col2">Карточка физ.лица</div>
                            <div class="lk-table1__edit" data-edit="false"><span class="icon-edit"></span>Редактировать
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">ФИО:</div>
                            <div class="lk-table1__col2">
                                <p>Александров Александр Александрович</p>
                                <input class="lk-input" type="text"
                                       value="Александров Александр Александрович">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Дата рождения:</div>
                            <div class="lk-table1__col2">
                                <div class="lk-date">
                                    <p>14.11.1988</p>
                                    <div class="form-group form-date mb-0">
                                        <input class="form-control date-input" placeholder="ДД.ММ.ГГГГ">
                                        <div class="form-date__icon"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Телефон:</div>
                            <div class="lk-table1__col2">
                                <p>(383) 209-13-33</p>
                                <input class="lk-input" type="tel"  value="(383) 209-13-33">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">E-mail:</div>
                            <div class="lk-table1__col2">
                                <p>info@microfund.ru</p>
                                <input class="lk-input" type="email"  value="info@microfund.ru">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Фактический адрес:</div>
                            <div class="lk-table1__col2">
                                <p>630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12</p>
                                <input class="lk-input" type="text"
                                       value="630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">Адрес регистрации:</div>
                            <div class="lk-table1__col2">
                                <p>630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12</p>
                                <input class="lk-input" type="text"
                                       value="630007, г. Новосибирск, ул. Серебренниковская 19/1, кв 12">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">ИНН:</div>
                            <div class="lk-table1__col2">
                                <p>3664334497</p>
                                <input class="lk-input only-number" type="text"  value="3664334497">
                            </div>
                        </div>
                        <div class="d-flex lk-table1__row">
                            <div class="lk-table1__col1">СНИЛС:</div>
                            <div class="lk-table1__col2">
                                <p>1053600455597</p>
                                <input class="lk-input only-number" type="text"  value="1053600455597">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="lk-table2">
                        <div class="d-flex lk-table2__header">
                            <div class="lk-table2__col lk-table2__date">Дата</div>
                            <div class="lk-table2__col lk-table2__id">ID</div>
                            <div class="lk-table2__col lk-table2__type">Вид займа</div>
                            <div class="lk-table2__col lk-table2__status">Статус заявки</div>
                        </div>
                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>11.02. 2020</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>0755</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-waiting">Ожидание пакета документов</p>
                            </div>
                        </div>

                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>16.02. 2020</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>5574</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-new">Новая (черновик)</p>
                            </div>
                        </div>

                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>01.06. 2019</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>6354</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-denied">Новая (черновик)</p>
                            </div>
                        </div>

                        <div class="d-flex lk-table2__row">
                            <div class="lk-table2__col lk-table2__date">
                                <label>Дата</label>
                                <p>21.04. 2019</p>
                            </div>
                            <div class="lk-table2__col lk-table2__id">
                                <label>ID</label>
                                <p>8547</p>
                            </div>
                            <div class="lk-table2__col lk-table2__type">
                                <label>Вид займа</label>
                                <p>Микрозайм для моногорода</p>
                            </div>
                            <div class="lk-table2__col lk-table2__status">
                                <label>Статус заявки</label>
                                <p class="status-approved">Одобрено</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
