.lk-tabs {
    display: flex;
    align-items: flex-end;
    padding: 0;
    background-color: transparent;
    border: none;
    position: relative;
    z-index: 3;

    .nav-link {
        padding: 16px 20px;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        color: $text-color;
        background-color: $white-color;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 4px 4px 0px 0px;
        width: 170px;
        position: relative;
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        @media screen and (max-width: 576px) {
            font-size: 16px;
            line-height: 20px;
            padding: 17px 10px;
        }

        &.active {
            color: $white-color;
            background-color: $light-brown;
            border-color: $light-brown;
        }

        &:hover {
            border-color: $border-color;
        }
    }

    .nav-link-detailed {
        width: auto;
        padding-left: 70px;
        padding-right: 70px;
        @media screen and (max-width: 768px) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

        .icon-close {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 16px;
            width: 24px;
            height: 24px;
            margin: auto;
            @include bg-svg($close-brown);
            cursor: pointer;
        }

        &.active {
            .icon-close {
                @include bg-svg($close-white);
            }
        }
    }
}

.tab-content {
    margin-bottom: 100px;
}

.tab-pane {
    background: $white-color;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 64px 80px;
    @media screen and (max-width: 992px) {
        padding: 32px 32px 80px;
    }
    @media screen and (max-width: 768px) {
        padding: 20px 20px 60px;
    }
}

.lk-table1 {
    $f: &;

    &__row {
        align-items: flex-start;
        margin-bottom: 10px;
        padding: 5px 0;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            padding: 0;
            margin-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__header {
        padding-top: 12px;
        padding-bottom: 16px;
        margin-bottom: 32px;
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        box-sizing: border-box;
        align-items: center;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            margin-right: -20px;
            margin-left: -20px;
            padding: 0 20px 20px 20px;
        }

        #{$f}__col1, #{$f}__col2 {
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            color: $text-color;
            @media screen and (max-width: 768px) {
                order: 2;
                font-size: 16px;
                line-height: 20px;
            }
        }

        #{$f}__col1 {
            position: relative;
            @media screen and (max-width: 768px) {
                margin-bottom: 12px;
                width: 130px;
            }

            &:after {
                content: '/';
                position: absolute;
                right: -2px;
                top: 0;
            }
        }

        #{$f}__col2 {
            padding-left: 15px;
            color: $dark-green;
            @media screen and (max-width: 768px) {
                padding-left: 0;
                margin-bottom: 0;
            }
        }
    }

    &__edit {
        color: $dark-green;
        cursor: pointer;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        @media screen and (max-width: 768px) {
            order: 1;
            margin-bottom: 12px;
        }

        &:hover {
            color: $primary-red;

            .icon-edit {
                @include bg-svg($icon-edit-red)
            }
        }

        .icon-edit {
            display: block;
            height: 22px;
            width: 22px;
            flex-shrink: 0;
            margin-right: 8px;
            @include bg-svg($icon-edit-green);
        }
    }

    &__col1 {
        width: 203px;
        flex-shrink: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        padding-top: 5px;
        color: $text-color;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
            width: 100%;
        }
    }

    &__col2 {
        flex-grow: 1;
        @media screen and (max-width: 768px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
            width: 100%;
        }

        p {
            padding-left: 15px;
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
        }

        .lk-input {
            width: 100%;
            height: auto;
            background-color: $white-color;
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            border: 1px solid $border-color;
            padding: 16px 20px;
            border-radius: 4px;
            display: none;

            &:focus, &:active {
                box-shadow: none;
                outline: none;
            }

            &:focus {
                border-color: $primary-red;
            }

            &[disabled] {
                border: none;
                padding: 5px 15px;
            }
        }
    }

    .lk-date {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            padding-left: 15px;

            @media screen and (max-width: 768px) {
                padding-left: 0;
            }
        }

        .form-date {
            max-width: 264px;
            display: none;
        }

        .date-input {
            font-size: 16px;
            line-height: 20px;
            height: auto;
        }

        .form-date__icon {
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.edit {
    .lk-table1__row {
        align-items: center;
    }
    .lk-table1__col2 {
        p {
            display: none;
        }

        .lk-input {
            display: block;
        }
    }
    .lk-date {
        p {
            display: none;
        }

        .form-date {
            display: block;
        }
    }
}

.lk-table2 {
    $f: &;

    &__row {
        margin-bottom: 24px;
        align-items: flex-start;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            border-bottom: 4px solid rgba(195, 147, 103, 0.15);
            padding-bottom: 24px;
        }

        &:last-child {
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
    }

    &__header {
        padding-top: 12px;
        padding-bottom: 16px;
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        box-sizing: border-box;
        margin-bottom: 32px;
        @media screen and (max-width: 768px) {
            display: none !important;
            padding-top: 0;
        }

        #{$f}__col {
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__col {
        @media screen and (max-width: 768px) {
            display: flex;
            align-items: flex-start;
            width: 100% !important;
            margin-bottom: 12px;
        }

        label {
            font-size: 16px;
            font-weight: bold;
            line-height: 20px;
            display: none;
            color: $text-color;
            margin-bottom: 0;
            @media screen and (max-width: 768px) {
                display: block;
                width: 120px;
                flex-shrink: 0;
            }
        }

        p {
            @extend %text2;
            margin: 0;
            color: $text-color;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &:last-child {
            @media screen and (max-width: 768px) {
                margin-bottom: 0;
            }
        }
    }

    &__date {
        width: 170px;
        flex-shrink: 0;
        @media screen and (max-width: 992px) {
            width: 120px;
        }
    }

    &__id {
        width: 115px;
        flex-shrink: 0;
        @media screen and (max-width: 992px) {
            width: 75px;
        }
    }

    &__type {
        flex-grow: 1;
        @media screen and (max-width: 992px) {
            padding-right: 15px;
        }
    }

    &__status {
        font-size: 18px;
        line-height: 24px;
        width: 290px;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            width: 175px;
        }
    }

    .status-waiting {
        position: relative;
        color: $dark-green;
        padding-left: 30px;

        &:before {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            top: 1px;
            left: 0;
            margin: auto;
            @include bg-svg($status-check);
            @media screen and (max-width: 768px) {
                top: -1px;
            }
        }
    }

    .status-new {
        color: $text-color;
    }

    .status-approved {
        position: relative;
        color: $dark-green;
        padding-left: 30px;

        &:before {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            top: 1px;
            left: 0;
            margin: auto;
            @include bg-svg($status-check);
            @media screen and (max-width: 768px) {
                top: -1px;
            }
        }
    }

    .status-denied {
        position: relative;
        color: $primary-red;
        padding-left: 30px;

        &:before {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            top: 1px;
            left: 0;
            margin: auto;
            @include bg-svg($status-denied);
            @media screen and (max-width: 768px) {
                top: -1px;
            }
        }
    }
}

.detail {
    &__header {
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        margin-bottom: 32px;
        position: relative;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (max-width: 576px) {
            margin-bottom: 24px;

            &:after, &:before {
                content: '';
                display: block;
                width: 19px;
                height: 0;
                border-bottom: 4px solid rgba(195, 147, 103, 0.15);
                position: absolute;
                bottom: -4px;
            }

            &:after {
                right: -19px;
            }
            &:before {
                left: -19px;
            }
        }

        .p1 {
            @extend %p1;
            color: $text-color2;

            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 20px
            }

            span {
                padding: 0 16px;
                color: $primary-red;
                @media screen and (max-width: 768px) {
                    padding: 0;
                }
            }
        }

        .status {
            @extend %p1;
            color: $text-color2;
            @media screen and (max-width: 992px) {
                margin-top: 16px;
            }

            @media screen and (max-width: 768px) {
                margin-top: 12px;
                font-size: 16px;
                line-height: 20px
            }

            span {
                color: $dark-green;
                padding-left: 16px;
                @media screen and (max-width: 768px) {
                    padding-left: 4px;
                }
            }
        }
    }

    &__body {
        h3 {
            color: $dark-brown;
            line-height: 28px;
            margin: 0 0 24px;

            @media screen and (max-width: 576px) {
                line-height: 26px;
                font-size: 22px;
            }
        }

        .calc-form__graphic {
            justify-content: flex-start;
            margin-bottom: 32px;
            padding-top: 12px;
            @media screen and (max-width: 576px) {
                padding-top: 8px;
            }
        }
    }

    &__doc {
        @include nl;
        margin-bottom: 32px;

        li {
            position: relative;
            padding-left: 44px;
            font-size: 18px;
            line-height: 24px;
            color: $text-color;
            margin-bottom: 20px;
            @media screen and (max-width: 768px) {
                padding-left: 24px;
            }
            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                display: block;
                transform: rotate(45deg);
                width: 9.95px;
                height: 9.85px;
                background-color: $primary-red;
                position: absolute;
                top: 6px;
                left: 20px;
                @media screen and (max-width: 768px) {
                    left: 3px;
                    top: 6px;
                }
                @media screen and (max-width: 576px) {
                    left: 3px;
                    top: 5px;
                }
            }
        }
    }

    &__status {
        position: relative;
        padding-left: 190px;
        @media screen and (max-width: 768px) {
            padding-left: 49px;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 146px;
            height: 100%;
            width: 4px;
            background-color: $light-brown;
            @media screen and (max-width: 768px) {
                left: 16px;
                height: 90%;
            }
        }

        &--item {
            position: relative;
            margin-bottom: 40px;
            min-height: 48px;
            @media screen and (max-width: 768px) {
                margin-bottom: 32px;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 1px;
                background-color: $light-brown;
                transform: rotate(45deg);
                position: absolute;
                top: 3px;
                left: -54px;
                @media screen and (max-width: 768px) {
                    left: -43px;
                }
            }
        }

        &--manager {
            position: absolute;
            width: 100px;
            top: 0;
            left: -190px;
            text-align: right;
            @media screen and (max-width: 768px) {
                position: relative;
                left: 0;
                text-align: left;
                width: 100%;
                margin-bottom: 8px;
            }

            p {
                font-weight: bold;
                font-size: 18px;
                line-height: 20px;
                margin: 0 0 8px;
                color: $text-color;
                font-family: $font-PT-sans;
                @media screen and (max-width: 768px) {
                    margin-bottom: 4px;
                    font-size: 16px;
                }
            }

            time {
                font-size: 14px;
                line-height: 20px;
                color: $text-color2;
            }
        }

        &--info {
            p {
                font-size: 18px;
                line-height: 24px;
                color: $black-color;
                margin: 0 0 8px;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 2px;
                }
                @media screen and (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }

        &--text {
            p {
                font-size: 18px;
                line-height: 24px;
                color: $text-color;
                margin: 0;
                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 2px;
                }
                @media screen and (max-width: 576px) {
                    font-size: 14px;
                }
            }
        }

        &--line {
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            p {
                margin-bottom: 0;

                &:first-child {
                    flex-shrink: 0;
                    padding-right: 8px;
                }
            }
        }
    }

    &__line {
        align-items: center;
        margin-bottom: 20px;
        color: $text-color;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 24px;
        }

        h6 {
            display: block;
            width: 230px;
            flex-shrink: 0;
            margin: 0;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            @media screen and (max-width: 768px) {
                width: 200px;
            }
            @media screen and (max-width: 576px) {
                font-size: 16px;
                margin-bottom: 12px;
            }
        }

        p {
            margin: 0;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
        }
    }
}
