<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body>
%=symbols=%

<ul>
    <li>
        <a href="main.html">Главная</a>
    </li>
    <li>
        <a href="news-list.html">Новости</a>
    </li>
    <li>
        <a href="news.html">Новость</a>
    </li>
    <li>
        <a href="history-list.html">История</a>
    </li>
    <li>
        <a href="history.html">Страница истории</a>
    </li>
    <li>
        <a href="microloans.html">Виды микрозаймов</a>
    </li>
    <li>
        <a href="loans.html">Виды микрозаймов подробная</a>
    </li>
    <li>
        <a href="documents.html">Документы</a>
    </li>
    <li>
        <a href="contact.html">Контакты</a>
    </li>
    <li>
        <a href="about.html">О Фонде</a>
    </li>

    <li>
        <a href="lk.html">Личный кабинет</a>
    </li>
    <li>
        <a href="registration.html">Регистрация</a>
    </li>
    <li>
        <a href="step1.html">Оформление заявки (юр.лицо) 1ШАГ</a>
    </li>
    <li>
        <a href="step2.html">Оформление заявки (юр.лицо) 2ШАГ</a>
    </li>
    <li>
        <a href="stepIP1.html">Оформление заявки (ИП) 1 ШАГ</a>
    </li>
    <li>
        <a href="stepF1.html">Оформление заявки (физ.лицо) 1 ШАГ</a>
    </li>
    <li>
        <a href="login.html">Вход</a>
    </li>
    <li>
        <a href="password-step1.html">Востановление пароля шаг1</a>
    </li>
    <li>
        <a href="password-step2.html">Востановление пароля шаг2</a>
    </li>
    <li>
        <a href="password-step3.html">Востановление пароля шаг3</a>
    </li>
    <li>
        <a href="login-message.html">Вход выполнен</a>
    </li>
    <li>
        <a href="registration-message.html">Регистрация - письмо отправлено</a>
    </li>
    <li>
        <a href="lk-detailed.html">ЛК Детальная заявки</a>
    </li>
    <li>
        <a href="documents-fond.html">Документы фонда</a>
    </li>
    <li>
        <a href="controls.html">Органы управления</a>
    </li>
    <li>
        <a href="partners.html">Партнеры</a>
    </li>
</ul>

<!--

                    <div class="form-checkbox-custom">
                        <input type="checkbox" id="checkbox4">
                        <label for="checkbox4">Добавить еще одно контактное лицо</label>
                    </div>
-->


<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>
<script src="%=static=%js/jquery.min.js"></script>
<script src="%=static=%js/bootstrap.min.js"></script>
<script src="%=static=%js/bootstrap-slider.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="%=static=%js/swiper.min.js"></script>
<script src="%=static=%js/lightbox.min.js"></script>
<script src="%=static=%js/datepicker.min.js"></script>

<!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
