<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body>
%=symbols=%

{{> step/stepF1}}

<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<script src="%=static=%js/jquery.min.js"></script>
<script src="%=static=%js/bootstrap.min.js"></script>
<script src="%=static=%js/bootstrap-slider.min.js"></script>

<script src="https://unpkg.com/imask"></script>
<script src="%=static=%js/swiper.min.js"></script>
<script src="%=static=%js/lightbox.min.js"></script>
<script src="%=static=%js/datepicker.min.js"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
