{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="news-list.html">Виды микрозаймов</a>
                </li>
                <li>Оформление заявки</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h3 class="block-title">Оформление заявки на займ</h3>

            <h5 class="p1">ШАГ 1. Предварительная заявка</h5>

            <div class="credit__title mb-5">
                <div class="romb romb1"></div>
                СВЕДЕНИЯ О ЗАЙМЕ
            </div>

            <div class="pt-2 calc-form">
                <form>
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">
                                <label>Вид займа:</label>
                                <select class="select2 selectTypeTerm">
                                    <option></option>
                                    <option>Микрозайм</option>
                                    <option>Микрозайм для моногорода</option>
                                </select>
                            </div>

                            <div class="form-group form-range">
                                <label for="rangeSum">Сумма займа: <span>1 000 000 рублей</span></label>

                                <input id="rangeSum" data-slider-id='rangeSumSlider' type="text" data-slider-min="30000"
                                       data-slider-max="5000000" data-slider-step="1000" data-slider-value="1000000"/>

                                <div class="d-flex form-range__labels">
                                    <p>30 000 руб</p>
                                    <p>5 000 000 руб</p>
                                </div>
                            </div>

                            <div class="form-group form-range">
                                <label for="rangeTerm">Срок займа: <span>12 месяцев</span></label>

                                <input id="rangeTerm" data-slider-id='rangeTermSlider' type="text" data-slider-min="3"
                                       data-slider-max="36" data-slider-step="1" data-slider-value="12"/>

                                <div class="d-flex form-range__labels">
                                    <p>3 мес</p>
                                    <p>36 мес</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Процентная ставка годовых, %</label>
                                        <input type="text" class="form-control" value="4,25%">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Отсрочка, мес:</label>
                                        <input type="text" class="form-control" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-lg-end justify-content-start">
                                <div class="col-sm-6">
                                    <div class="form-group form-date">
                                        <label>Дата выдачи займа:</label>
                                        <input class="form-control date-input" placeholder="ДД.ММ.ГГГГ">
                                        <div class="form-date__icon"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-sm-6">
                                    <div class="calc-form__graphic">
                                        <div class="icon icon-calendar-green"></div>
                                        <div>График погашения</div>
                                        <div class="icon icon-arrow-down-green"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="graph-table">
                                        <div class="d-flex graph-table__row graph-table__header">
                                            <div class="graph-table__col1">№ п/п</div>
                                            <div class="graph-table__col2">Дата платежа</div>
                                            <div class="graph-table__col3">
                                                <p>Сумма к уплате</p>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">Проценты</div>
                                                    <div class="graph-table__col5">Основной долг</div>
                                                    <div class="graph-table__col6">Итого</div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">Остаток основного долга</div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 1</span>
                                                <p>1</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 2</span>
                                                <p>2</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 3</span>
                                                <p>3</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 4</span>
                                                <p>4</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 5</span>
                                                <p>5</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 6</span>
                                                <p>6</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>

                                        <div class="d-flex graph-table__row">
                                            <div class="graph-table__col1">
                                                <span>№ п/п 7</span>
                                                <p>7</p>
                                            </div>
                                            <div class="graph-table__col2">
                                                <span>Дата платежа</span>
                                                <p>11.02.2020</p>
                                            </div>
                                            <div class="graph-table__col3">
                                                <span>Сумма к оплате</span>
                                                <div class="d-flex flex-column flex-md-row">
                                                    <div class="graph-table__col4">
                                                        <span>Проценты</span>
                                                        <p>6 721, 31 руб</p>
                                                    </div>
                                                    <div class="graph-table__col5">
                                                        <span>Основной долг</span>
                                                        <p>83 333, 00 руб</p>
                                                    </div>
                                                    <div class="graph-table__col6">
                                                        <span>Итого</span>
                                                        <p>90 054, 31 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="graph-table__col7">
                                                <span>Остаток <br>основного долга</span>
                                                <p>916 667,00 руб</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div class="credit-block">
                <div class="d-flex credit-block__header">
                    <p class="p1">Заявка на займ: <span>Р-15</span> от <span>11.02.2020</span></p>

                    <div class="status">
                        Статус:
                        <span>Новая</span>
                    </div>
                </div>

                <div class="credit-block__body">
                    <div class="credit__title">
                        <div class="romb romb2"></div>
                        СВЕДЕНИЯ О ЗАЯВИТЕЛЕ
                    </div>

                    <div class="credit-block__form-wrap">
                        <form>
                            <div class="d-flex reg__radio">
                                <div class="form-check form-radio">
                                    <input type="radio" class="form-check-input" name="registration-radio" id="radio1"
                                           data-form="form1">
                                    <label for="radio1">Юр.лицо</label>
                                </div>
                                <div class="form-check form-radio">
                                    <input type="radio" class="form-check-input" name="registration-radio" id="radio2"
                                           data-form="form2">
                                    <label for="radio2">Индивидуальный предприниматель</label>
                                </div>
                                <div class="form-check form-radio">
                                    <input type="radio" class="form-check-input" name="registration-radio" id="radio3"
                                           checked
                                           data-form="form3">
                                    <label for="radio3">Физ.лицо</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>Фамилия Имя Отчество</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-6">
                                    <div class="form-group form-date">
                                        <label>Дата регистрации</label>
                                        <input class="form-control date-input" placeholder="ДД.ММ.ГГГГ">
                                        <div class="form-date__icon"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-xl-5 col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <label>ИНН</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-xl-7 col-lg-6 col-sm-6">
                                            <div class="form-group">
                                                <label>СНИЛС</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-6">
                                            <div class="form-group">
                                                <label>Номер телефона</label>
                                                <input type="tel" placeholder="+7 (_____) _____-___-___" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-sm-6">
                                            <div class="form-group">
                                                <label>E-mail</label>
                                                <input type="email" placeholder="mymail@example.com" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label>Юридический адрес</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Фактический адрес</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group form-checkbox mb-4 pb-3">
                                <input type="checkbox" id="checkbox2">
                                <label for="checkbox2">Фактический адрес совпадает с юридическим</label>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>Номер расчетного счета</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label> Наименование Банка</label>
                                        <select class="select2">
                                            <option></option>
                                            <option>Сбербанк</option>
                                            <option>ВТБ</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>БИК Банка</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="credit__title">
                        <div class="romb romb3"></div>
                        АФФИЛИРОВАННЫЕ ЛИЦА ЗАЯВИТЕЛЯ
                    </div>

                    <div class="credit-block__form-wrap">
                        <p class="p2 mb-4 pb-2">Аффилированные лица – это физические и юридические лица, которые могут
                            влиять на деятельность других юридических и (или) физических лиц, занимающихся
                            предпринимательской деятельностью.</p>
                        <form>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>Фамилия Имя Отчество / Наименование</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>СНИЛС</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ИНН</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Вид аффилированности</label>
                                <select class="select2">
                                    <option></option>
                                    <option>Вид аффилированности1</option>
                                    <option>Вид аффилированности2</option>
                                </select>
                            </div>

                            <div class="btn-add">
                                <div class="icon icon-add"></div>
                                Добавить еще одно аффилированное лицо
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-start justify-content-lg-end">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="form-group form-checkbox">
                        <input type="checkbox" id="checkbox6">
                        <label for="checkbox6">Я даю согласие на <a href="#">запрос кредитной истории</a></label>
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox" id="checkbox7">
                        <label for="checkbox7">Я даю согласие на обработку своих персональных данных в соответствии
                            с <a href="#">Федеральным Законом №152-ФЗ "О персональных данных".</a></label>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between credit-row-btn">
                        <button class="btn btn-main-border">Сохранить черновик</button>
                        <button class="btn btn-main">Отправить заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> footer/footer}}
