{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="news-list.html">Виды микрозаймов</a>
                </li>
                <li>Оформление заявки</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h3 class="block-title">Оформление заявки на займ</h3>

            <h5 class="p1">ШАГ 2. Предварительная заявка одобрена</h5>

            <div class="credit-block">
                <div class="d-flex flex-column flex-xl-row credit-block__header">
                    <p class="p1">Заявка на займ: <span>Р-15</span> от <span>11.02.2020</span></p>

                    <div class="status mt-3 mt-xl-0">
                        Статус:
                        <span>Ожидание пакета документов</span>
                    </div>
                </div>

                <div class="credit-block__body">
                    <div class="credit__title">
                        <div class="romb romb1"></div>
                        СВЕДЕНИЯ О ЗАЙМЕ
                    </div>

                    <div class="credit-block__form-wrap">
                        <form>
                            <div class="row">
                                <div class="col-xl-8">
                                    <div class="form-group">
                                        <label>Вид займа:</label>
                                        <select class="select2 selectTypeTerm">
                                            <option></option>
                                            <option selected>Микрозайм</option>
                                            <option>Микрозайм для моногорода</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-sm-6">
                                    <div class="form-group d-none d-xl-block">
                                        <label>Сумма займа, руб.</label>
                                        <input type="text" class="form-control" value="1 000 000 руб">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-start justify-content-xl-end">
                                <div class="col-xl-4 col-sm-6 d-block d-xl-none">
                                    <div class="form-group">
                                        <label>Сумма займа, руб.</label>
                                        <input type="text" class="form-control" value="1 000 000 руб">
                                    </div>
                                </div>

                                <div class="col-xl-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Срок кредитования, мес:</label>
                                        <input type="text" class="form-control" value="12 мес">
                                    </div>
                                </div>

                                <div class="col-xl-4 col-sm-6">
                                    <div class="form-group">
                                        <label>Процентная ставка годовых, %</label>
                                        <input type="text" class="form-control" value="4,25%">
                                    </div>
                                </div>

                                <div class="col-xl-4 col-sm-6 d-block d-xl-none">
                                    <div class="form-group">
                                        <label>Отсрочка, мес:</label>
                                        <input type="text" class="form-control" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-start justify-content-xl-end">
                                <div class="col-xl-4 col-sm-6 d-none d-xl-block">
                                    <div class="form-group">
                                        <label>Отсрочка, мес:</label>
                                        <input type="text" class="form-control" value="0">
                                    </div>
                                </div>

                                <div class="col-xl-4 col-sm-6">
                                    <div class="form-group form-date">
                                        <label>Дата выдачи займа:</label>
                                        <input class="form-control date-input" placeholder="ДД.ММ.ГГГГ">
                                        <div class="form-date__icon"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="calc-form__graphic">
                                        <div class="icon icon-calendar-green"></div>
                                        <div>График погашения</div>
                                        <div class="icon icon-arrow-down-green"></div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="graph-table">
                                                <div class="d-flex graph-table__row graph-table__header">
                                                    <div class="graph-table__col1">№ п/п</div>
                                                    <div class="graph-table__col2">Дата платежа</div>
                                                    <div class="graph-table__col3">
                                                        <p>Сумма к уплате</p>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">Проценты</div>
                                                            <div class="graph-table__col5">Основной долг</div>
                                                            <div class="graph-table__col6">Итого</div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">Остаток основного долга</div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 1</span>
                                                        <p>1</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 2</span>
                                                        <p>2</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 3</span>
                                                        <p>3</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 4</span>
                                                        <p>4</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 5</span>
                                                        <p>5</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 6</span>
                                                        <p>6</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>

                                                <div class="d-flex graph-table__row">
                                                    <div class="graph-table__col1">
                                                        <span>№ п/п 7</span>
                                                        <p>7</p>
                                                    </div>
                                                    <div class="graph-table__col2">
                                                        <span>Дата платежа</span>
                                                        <p>11.02.2020</p>
                                                    </div>
                                                    <div class="graph-table__col3">
                                                        <span>Сумма к оплате</span>
                                                        <div class="d-flex flex-column flex-md-row">
                                                            <div class="graph-table__col4">
                                                                <span>Проценты</span>
                                                                <p>6 721, 31 руб</p>
                                                            </div>
                                                            <div class="graph-table__col5">
                                                                <span>Основной долг</span>
                                                                <p>83 333, 00 руб</p>
                                                            </div>
                                                            <div class="graph-table__col6">
                                                                <span>Итого</span>
                                                                <p>90 054, 31 руб</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="graph-table__col7">
                                                        <span>Остаток <br>основного долга</span>
                                                        <p>916 667,00 руб</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="credit__title">
                        <div class="romb romb2"></div>
                        ПАКЕТ ДОКУМЕНТОВ
                    </div>

                    <div class="credit-block__form-wrap">
                        <form>
                            <div class="table-file">
                                <p>1. Копия Свидетельства о государственной регистрации юридического лица</p>

                                <div class="d-flex table-file__info">
                                    <div class="file-form">
                                        <input type="file" name="file" id="file1">
                                        <label for="file1">
                                            <div class="icon"></div>
                                            <p>Прикрепить файл</p>
                                        </label>
                                    </div>
                                    <div class="table-file__size">Максимальный размер — 5 МБ. Форматы: JPG, JPEG, PNG,
                                        PDF,
                                        DOC
                                    </div>
                                </div>
                            </div>

                            <div class="table-file">
                                <p>2. Копия Свидетельства о постановке на учет российской организации в налоговом органе
                                    по
                                    месту ее нахождения</p>
                                <div class="d-flex table-file__info">
                                    <div class="file-form">
                                        <input type="file" name="file" id="file2">
                                        <label for="file2">
                                            <div class="icon"></div>
                                            <p>Прикрепить файл</p>
                                        </label>
                                    </div>
                                    <div class="table-file__size">Максимальный размер — 5 МБ. Форматы: JPG, JPEG, PNG,
                                        PDF, DOC
                                    </div>
                                </div>
                            </div>

                            <div class="table-file">
                                <p>3. Выписка из Единого государственного реестра юридических лиц</p>

                                <div class="d-flex table-file__info">
                                    <div class="file-form">
                                        <input type="file" name="file" id="file3">
                                        <label for="file3">
                                            <div class="icon"></div>
                                            <p>Прикрепить файл</p>
                                        </label>
                                    </div>
                                    <div class="table-file__size">Максимальный размер — 5 МБ. Форматы: JPG, JPEG, PNG,
                                        PDF,
                                        DOC
                                    </div>
                                </div>
                            </div>

                            <div class="table-file">
                                <p>4. Копия Паспорта гражданина Российской Федерации</p>
                                <div class="d-flex table-file__info">
                                    <div class="file-form">
                                        <input type="file" name="file" id="file4">
                                        <label for="file4">
                                            <div class="icon"></div>
                                            <p>Прикрепить файл</p>
                                        </label>
                                    </div>
                                    <div class="table-file__size">Максимальный размер — 5 МБ. Форматы: JPG, JPEG, PNG,
                                        PDF,
                                        DOC
                                    </div>
                                </div>
                            </div>

                            <div class="table-file">
                                <p>5. Копия документа</p>

                                <div class="d-flex table-file__info">
                                    <div class="file-form">
                                        <input type="file" name="file" id="file5">
                                        <label for="file5">
                                            <div class="icon"></div>
                                            <p>Прикрепить файл</p>
                                        </label>
                                    </div>
                                    <div class="table-file__size">Максимальный размер — 5 МБ. Форматы: JPG, JPEG, PNG,
                                        PDF,
                                        DOC
                                    </div>
                                </div>
                            </div>

                            <div class="table-file">
                                <p>6. Копия документа</p>

                                <div class="d-flex table-file__info">
                                    <div class="file-form">
                                        <input type="file" name="file" id="file6">
                                        <label for="file6">
                                            <div class="icon"></div>
                                            <p>Прикрепить файл</p>
                                        </label>
                                    </div>
                                    <div class="table-file__size">Максимальный размер — 5 МБ. Форматы: JPG, JPEG, PNG,
                                        PDF,
                                        DOC
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row justify-content-start justify-content-lg-end">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="form-group form-checkbox">
                        <input type="checkbox" id="checkbox6">
                        <label for="checkbox6">Я даю согласие на <a href="#">запрос кредитной истории</a></label>
                    </div>
                    <div class="form-group form-checkbox">
                        <input type="checkbox" id="checkbox7">
                        <label for="checkbox7">Я даю согласие на обработку своих персональных данных в соответствии
                            с <a href="#">Федеральным Законом №152-ФЗ "О персональных данных".</a></label>
                    </div>

                    <div class="d-flex flex-column flex-md-row justify-content-between credit-row-btn">
                        <button class="btn btn-main-border">Сохранить черновик</button>
                        <button class="btn btn-main">Отправить заявку</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{> footer/footer}}
