h5.p1 {
    @extend %p1;
    color: $dark-brown;
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

.credit {
    &__title {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        color: $primary-red;
        letter-spacing: 0.005em;
        padding-bottom: 13px;
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        margin-bottom: 32px;
        position: relative;

        @media screen and (max-width: 768px) {
            font-size: 22px;
            line-height: 30px;

            &:after, &:before {
                content: '';
                display: block;
                width: 19px;
                height: 0;
                border-bottom: 4px solid rgba(195, 147, 103, 0.15);
                position: absolute;
                bottom: -4px;
            }

            &:after {
                left: -19px;
            }
            &:before {
                right: -19px;
            }
        }

        .romb {
            flex-shrink: 0;
            width: 40px;
            height: 40px;
            margin-right: 10px;
            text-align: center;
            position: relative;
            color: $white-color;
            text-transform: uppercase;
            line-height: 40px;
            font-weight: bold;
            z-index: 2;

            &:after {
                content: '';
                display: block;
                width: 28px;
                height: 28px;
                position: absolute;
                transform: rotate(45deg);
                background-color: $primary-red;
                top: 5px;
                left: 5px;
                z-index: -1;
            }
            @media screen and (max-width: 768px) {
                transform: scale(0.8);
                margin-right: 5px;
            }
        }
    }

    &-block {
        background: $white-color;
        border: 1px solid $border-color;
        box-sizing: border-box;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        margin-top: 50px;
        margin-bottom: 48px;

        &__header {
            background: rgba(195, 147, 103, 0.1);
            box-sizing: border-box;
            border-radius: 4px;
            padding: 31px 48px;
            justify-content: space-between;
            @media screen and (max-width: 992px) {
                flex-direction: column;
                padding: 32px 32px 24px;
            }
            @media screen and (max-width: 768px) {
                padding: 24px 20px;
            }

            .p1 {
                @extend %p1;
                color: $text-color2;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                    line-height: 20px
                }

                span {
                    padding: 0 16px;
                    color: $primary-red;
                    @media screen and (max-width: 768px) {
                        padding: 0;
                    }
                }
            }
        }

        .status {
            @extend %p1;
            color: $text-color2;
            @media screen and (max-width: 992px) {
                margin-top: 16px;
            }

            @media screen and (max-width: 768px) {
                margin-top: 12px;
                font-size: 16px;
                line-height: 20px
            }

            span {
                color: $dark-green;
                padding-left: 16px;
                @media screen and (max-width: 768px) {
                    padding-left: 4px;
                }
            }
        }

        &__body {
            padding: 41px 48px;
            @media screen and (max-width: 992px) {
                padding: 41px 32px;
            }

            @media screen and (max-width: 768px) {
                padding: 32px 20px 0;
            }
        }

        &__form-wrap {
            padding: 0 50px 40px;
            @media screen and (max-width: 992px) {
                padding: 0 40px 40px;
            }
            @media screen and (max-width: 768px) {
                padding: 0 0 32px;
            }
        }
    }

    &-row-btn {
        @media screen and (max-width: 768px) {
            align-items: center;
        }
        .btn:first-child {
            @media screen and (max-width: 768px) {
                margin-bottom: 30px;
            }
        }
    }
}

.btn-add {
    display: flex;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: $text-color;
    transition: all 0.25s;

    &:hover {
        color: $light-brown;
    }

    .icon {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        margin-right: 16px;
    }

    .icon-add {
        @include bg-svg($form-check);
    }
}

.form-checkbox-custom {
    padding: 0;
    margin-bottom: 20px;

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        display: block;
        position: relative;
        padding-left: 40px;
        font-size: 16px;
        line-height: 20px;
        color: $text-color;
        margin: 0;
        cursor: pointer;
        padding-top: 2px;

        a {
            color: $dark-green;
        }

        &:before, &:after {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            left: 0;
            top: -2px;
        }

        &:before {
            background: $white-color;
            border: 1px solid $border-color;
            box-sizing: border-box;
            border-radius: 4px;
        }

        &:after {
            display: none;
            @include bg-svg($form-check);
        }
    }

    input:checked + label:after {
        display: block;
    }

    input:checked + label:before {
        border-color: $light-brown;
        opacity: 0.6;
    }
}

.table-file {
    margin-bottom: 32px;
    @media screen and (max-width: 576px) {
        margin-bottom: 24px;
    }
    &:last-child {
        margin-bottom: 0;
    }
    p {
        @extend %text2;
        color: #333333;
        margin-bottom: 16px;
        @media screen and (max-width: 576px) {
            font-size: 16px;
        }
    }

    &__info {
        align-items: center;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__size {
        font-size: 16px;
        line-height: 20px;
        color: $text-color2;
        margin-left: 32px;
        @media screen and (max-width: 992px) {
            margin-left: 0;
        }

        @media screen and (max-width: 576px) {
            font-size: 14px;
        }
    }
}
.file-form {
    @media screen and (max-width: 992px) {
        margin-bottom: 12px;
    }
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
            .icon {
                @include bg-svg($icon-attach-hover);
            }
            p {
                color: $primary-red;
            }
        }
        .icon {
            display: block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-right: 6px;
            @include bg-svg($icon-attach);
        }

        p {
            font-weight: 350;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: underline;
            color: $dark-green;
            margin: 0;
            transition: all 0.25s;

            @media screen and (max-width: 576px) {
                font-size: 14px;
            }
        }
    }
}

.new-contact {
    display: none;
    &.show {
        display: block;
    }

    &__title {
        align-items: center;
        margin-bottom: 44px;
        @media screen and (max-width: 992px) {
            margin-bottom: 36px;
        }
        @media screen and (max-width: 576px) {
            margin-bottom: 24px;
            border-bottom: 4px solid rgba(195, 147, 103, 0.15);
            padding-bottom: 24px;
        }

        .icon {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin-right: 16px;
            @include bg-svg($form-check);

            &.active {
                @include bg-svg($icon-minus);
            }
        }

        p {
            font-size: 24px;
            line-height: 28px;
            margin: 0 16px 0 0;
            flex-shrink: 0;
            color: $light-brown;
            @media screen and (max-width: 576px) {
                flex-shrink: 1;
            }
            br {
                display: none;
                @media screen and (max-width: 576px) {
                    display: block;
                }
            }
        }

        .line {
            flex-grow: 1;
            opacity: 0.15;
            height: 4px;
            background: $light-brown;
            box-sizing: border-box;
            margin-top: 10px;
            @media screen and (max-width: 576px) {
                display: none;
            }
        }
    }
}
