// Common styles of the project

input[type="number"] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html, body {
    height: 100%;
    font-family: $font-circle;
}

.page {
    padding-bottom: 100px;
    @media screen and (max-width: 992px) {
        padding-bottom: 80px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 60px;
    }
}

.block-title {
    @extend %h2;
    color: $dark-brown;
    margin: 0 0 40px;
    @media screen and (max-width: 992px) {
        font-size: 38px;
        line-height: 40px;
        br {
            display: none;
        }
    }
    @media screen and (max-width: 576px) {
        font-size: 26px;
        line-height: 28px;
    }
}

.btn {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    width: 264px;

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn-main {
    background-color: $primary-red;
    border-radius: 4px;
    height: 64px;
    color: $white-color;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 20px 24px;

    &:hover {
        color: $white-color;
        text-decoration: none;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #E04E39;
    }

    &:active, &:focus {
        color: $white-color;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)), #E04E39;
    }
}

.btn-main-border {
    position: relative;
    border: 1px solid $primary-red;
    box-sizing: border-box;
    border-radius: 4px;
    height: 64px;
    font-size: 20px;
    line-height: 26px;
    color: $primary-red;
    padding: 19px 24px;
    transition: all 0.25s;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        @include position-abs;
        height: 100%;
        background-color: $primary-red;
        width: 0;
        z-index: -1;
        transition: all 0.25s;
    }

    &:hover {
        color: $white-color;

        &:after {
            width: 100%;
        }
    }

    &:focus, &:active {
        color: $white-color;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #E04E39;
    }
}


.breadcrumb {
    background-color: $white-color;
    padding: 24px 0;
    margin-bottom: 8px;
    @media screen and (max-width: 768px) {
        padding: 18px 0;
        margin-bottom: 6px;
    }

    &__list {
        @include nl;
        display: flex;
        align-items: center;

        li {
            font-size: 16px;
            line-height: 20px;
            color: $light-color2;
            position: relative;
            padding-right: 32px;
            flex-shrink: 0;
            @media screen and (max-width: 768px) {
                display: none !important;
            }

            &:after {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                right: 6px;
                @include bg-svg($arrow-breadcrumbs);
            }

            &:nth-last-child(-n+2) {
                @media screen and (max-width: 768px) {
                    display: block !important;
                    padding-right: 0;
                    padding-left: 32px;
                    &:after {
                        right: auto;
                        left: 0;
                        transform: rotate(180deg);
                    }
                }
            }

            &:last-child {
                padding-right: 0;
                flex-grow: 1;
                overflow: hidden;
                @media screen and (max-width: 768px) {
                    display: none !important;
                }

                &:after {
                    display: none;
                }
            }
        }

        li a {
            font-size: 16px;
            line-height: 20px;
            color: $light-color2;
            text-decoration: none;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $primary-red;
            }
        }
    }
}

.pagination {
    align-items: center;
    display: flex;
    justify-content: center;

    .page-item {
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        margin-right: 13px;
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        color: $border-color;
        text-align: center;
        line-height: 1;
        justify-content: center;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            .page-link {
                border-color: $primary-red;
                background-color: $primary-red-hover;
                font-weight: bold;
                color: $white-color;
            }
        }

        &-next, &-prev {
            @media screen and (max-width: 576px) {
                display: none !important;
            }
        }
    }

    .page-link {
        width: 34px;
        height: 34px;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        line-height: 34px;
        text-align: center;
        color: $light-brown;
        padding: 0;
        position: relative;
        transition: all 0.25s;

        span {
            display: block;
            position: absolute;
            @include pos-center;
        }

        &:hover {
            border-color: $light-brown-hover;
            background-color: $light-brown-hover;
            color: $light-brown;

            /*.icon-pagination-start {
                @include bg-svg($pagination-start-hover);
            }

            .icon-pagination-prev {
                @include bg-svg($pagination-prev-hover);
            }

            .icon-pagination-next {
                @include bg-svg($pagination-next-hover);
            }

            .icon-pagination-end {
                @include bg-svg($pagination-end-hover);
            }*/
        }
    }
}
