.icon-footer-facebook {
    @include bg-svg($icon-footer-facebook);
}

.icon-footer-instagram {
    @include bg-svg($icon-footer-instagram);
}

.icon-footer-whatsapp {
    @include bg-svg($icon-footer-whatsapp);
}

.icon-login {
    @include bg-svg($icon-login);
    &:hover {
        @include bg-svg($icon-login-hover);
    }
}

.icon-header-facebook {
    @include bg-svg($icon-header-facebook);
    &:hover {
        @include bg-svg($icon-header-facebook-hover);
    }
}

.icon-header-instagram {
    @include bg-svg($icon-header-instagram);
    &:hover {
        @include bg-svg($icon-header-instagram-hover);
    }
}

.icon-header-whatsapp {
    @include bg-svg($icon-header-whatsapp);
    &:hover {
        @include bg-svg($icon-header-whatsapp-hover);
    }
}

.icon-header-letter {
    @include bg-svg($icon-header-letter);
    width: 20px;
    height: 20px;
}

.icon-header-phone {
    @include bg-svg($icon-header-phone);
    width: 20px;
    height: 20px;
}

.icon-header-search {
    @include bg-svg($icon-header-search);
}

.icon-header-eye-off {
    @include bg-svg($icon-header-eye-off);
    width: 22px;
    height: 22px;
}

.icon-calendar-green {
    @include bg-svg($icon-calendar-green);
}

.icon-calendar-white {
    @include bg-svg($icon-calendar-white);
}

.icon-arrow-down-green {
    @include bg-svg($icon-arrow-down-green);
}

.icon-pagination-start {
    @include bg-svg($pagination-start);
    width: 24px;
    height: 24px;
}

.icon-pagination-prev {
    @include bg-svg($pagination-prev);
    width: 24px;
    height: 24px;
}

.icon-pagination-next {
    @include bg-svg($pagination-next);
    width: 24px;
    height: 24px;
}

.icon-pagination-end {
    @include bg-svg($pagination-end);
    width: 24px;
    height: 24px;
}

.icon-document {
    @include bg-svg($icon-document);
}

.contact-email {
    @include bg-svg($contact-email);
}
.contact-phone {
    @include bg-svg($contact-phone);
}
.contact-point {
    @include bg-svg($contact-point);
}
.contact-time {
    @include bg-svg($contact-time);
}
.romb1 {
    @include bg-svg($romb1);
}
.romb2 {
    @include bg-svg($romb2);
}
.romb3 {
    @include bg-svg($romb3);
}
.romb4 {
    @include bg-svg($romb4);
}
