// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin full {
    width: 100%;
    height: 100%;
}

@mixin full-img {
    object-position: center;
    object-fit: cover;
}

@mixin position-abs {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin pos-center {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
