$light-brown: #C39367;
$light-brown-hover: rgba(195, 147, 103, 0.1);
$dark-brown: #623B2A;
$primary-red: #E04E39;
$primary-red-hover: rgba(224, 78, 57, 0.75);
$dark-green: #0A6073;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #393939;
$text-color2: #A09C9A;
$sand-color: #D7B369;
$sand-color-opacity: rgba(215, 179, 105, 0.6);

$light-color2: #A09C9A;
$border-color: #D4CCCB;

$font-circle: 'Circe', sans-serif;
$font-PT-sans: 'PT Sans', sans-serif;
$font-Roboto: 'Roboto', sans-serif;

.text-red {
    color: $primary-red;
}

.text-green {
    color: $dark-green;
}

%text3 {
    font-size: 22px;
    line-height: 26px;
}

%text2 {
    font-size: 18px;
    line-height: 24px;
}

.p2 {
    @extend %text2;
    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 20px;
    }
}

%text1 {
    font-size: 16px;
    line-height: 24px;
}

%p1 {
    font-family: $font-PT-sans;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}
%h2 {
    font-weight: 800;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 0.005em;
    margin: 0;
    color: $dark-brown;
}
h2 {
    @extend %h2;
}

%h3 {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.005em;
}

h3 {
    @extend %h3;
}

%h4 {
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.005em;
    margin: 0;
}

h4 {
    @extend %h3;
    color: $dark-brown;
}

%h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.005em;
    margin: 0;
}

h5 {
    @extend %h5;
}

%h6 {
    @extend %text2;
    margin: 0;
}

h6 {
    @extend %h6;
}
