<footer class="footer">
    <div class="footer__line">
        <div class="container">
            <div class="d-flex footer__line--wrap">
                <div class="footer__col1">
                    <h6>МКК ФОНД МИКРОФИНАНСИРОВАНИЯ НСО</h6>
                </div>

                <div class="footer__col2">
                    <a href="mailto:info@microfund.ru">info@microfund.ru</a>
                </div>

                <div class="d-flex justify-content-between footer__col3">
                    <a href="tel:(383) 209-13-33">(383) 209-13-33</a>
                    <a href="tel:(383) 209-13-33">(383) 209-13-33</a>

                    <ul class="d-flex footer__soc--menu">
                        <li>
                            <a href="#">
                                <div class="icon icon-footer-facebook"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon icon-footer-instagram"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="icon icon-footer-whatsapp"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="d-flex footer__wrap">
            <div class="footer__col1">
                <div class="d-flex align-items-center footer__logos-wrap">
                    <div class="d-flex footer__logos">
                        <a href="main.html" class="footer__main-logo">
                            <img src="static/img/general/footer-logo.png" alt="logo">
                        </a>

                        <a href="#" class="footer__secondary-logo">
                            <img src="static/img/general/secondary-logo.png" alt="logo">
                        </a>
                    </div>

                    <div class="footer__phone-wrap">
                        <a href="tel:(383) 209-13-33" class="footer__phone">(383) 209-13-33</a>
                        <a href="tel:(383) 209-13-33" class="footer__phone">(383) 209-13-33</a>
                    </div>
                </div>

                <div class="footer__col1--info">Микрокредитная компания новосибирский
                    областной фонд микрофинансирования субъектов
                    малого и среднего предпринимательства
                </div>

                <p class="footer__number">6110754000044 — регистрационный номер в <a href="#">Государственном реестре
                    микрофинансовых
                    организаций</a>
                </p>

                <div class="d-flex footer__copy">
                    <p>(с)«Фонд микрофинансирования НСО». <br>Все права защищены</p>
                    <a href="#">Политика в отношении <br>обработки персональных данных</a>
                </div>
            </div>

            <div class="footer__col2">
                <ul class="footer__menu">
                    <li>
                        <a href="about.html">О Фонде</a>
                    </li>
                    <li>
                        <a href="news.html">Новости</a>
                    </li>
                    <li>
                        <a href="history.html">Истории успеха</a>
                    </li>
                    <li>
                        <a href="loan.html">Виды займов</a>
                    </li>
                    <li>
                        <a href="documents.html">Документы</a>
                    </li>
                    <li>
                        <a href="contacts.html">Контакты</a>
                    </li>
                    <li class="lk">
                        <a href="lk.html">Личный кабинет</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col3">
                <div class="footer__soc">
                    <div class="footer__soc--col1">
                        <h6>Мы в соцсетях:</h6>
                        <ul class="d-flex footer__soc--menu">
                            <li>
                                <a href="#">
                                    <div class="icon icon-footer-facebook"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon icon-footer-instagram"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon icon-footer-whatsapp"></div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__soc--col2">
                        <a href="#">Политика в отношении обработки персональных данных</a>
                        <p>(с)«Фонд микрофинансирования НСО». Все права защищены</p>
                    </div>
                </div>
            </div>

            <div class="footer__col4 d-none">
                <div class="d-flex footer__col4--row1">
                    <div>
                        <ul class="d-flex footer__soc--menu">
                            <li>
                                <a href="#">
                                    <div class="icon icon-footer-facebook"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon icon-footer-instagram"></div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="icon icon-footer-whatsapp"></div>
                                </a>
                            </li>
                        </ul>

                        <a href="mailto:info@microfund.ru" class="footer__mail">info@microfund.ru</a>
                    </div>

                    <a href="#" class="footer__pol">Политика в отношении<br>
                        обработки персональных данных</a>
                </div>
                <div class="footer__col4--row2">
                    <p>(с) «Фонд микрофинансирования НСО». <br>Все права защищены</p>
                </div>
            </div>
        </div>
    </div>
</footer>
