.footer {
    $f: &;

    &__line {
        padding: 21px 0;
        background-color: $light-brown;
        @media screen and (max-width: 768px) {
            padding: 18px 0;
        }

        &--wrap {
            align-items: center;
            justify-content: space-between;
        }

        h6 {
            letter-spacing: 0.06em;
            @extend %text2;
            color: $white-color;
            font-weight: bold;
            font-family: $font-PT-sans;
            @media screen and (max-width: 992px) {
                font-size: 16px;
                line-height: 24px;
            }
            @media screen and (max-width: 768px) {
                font-size: 14px;
            }
            @media screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 12px;
            }
        }

        a {
            display: block;
            color: $white-color;
            font-weight: bold;
            font-family: $font-PT-sans;
            @extend %text2;
            line-height: 1;
            text-decoration: none;
            transition: all 0.25s;
            @media screen and (max-width: 992px) {
                font-family: $font-circle;
                font-weight: 350;
                font-size: 16px;
                line-height: 20px;
            }

            &:hover {
                text-decoration: none;
                color: $dark-green;
            }
        }

        #{$f}__col1 {
            @media screen and (max-width: 992px) {
                width: auto;
            }
        }

        #{$f}__col2 {
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        #{$f}__col3 {
            align-items: center;
            #{$f}__soc--menu {
                display: none !important;
                @media screen and (max-width: 992px) {
                    display: flex !important;
                    a {
                        display: block;
                    }
                }
            }

            a {
                @media screen and (max-width: 992px) {
                    display: none;
                }
            }

            @media screen and (max-width: 576px) {
                display: none !important;
            }
        }
    }

    &__wrap {
        align-items: flex-start;
        justify-content: space-between;
        padding: 34px 0 40px;
        @media screen and (max-width: 992px) {
            justify-content: space-between;
        }
        @media screen and (max-width: 576px) {
            flex-direction: column;
            padding: 12px 0 20px;
        }

        #{$f}__col3 {
            @media screen and (max-width: 992px) {
                display: none;
            }

            @media screen and (max-width: 576px) {
                width: 100%;
            }
        }

        #{$f}__col2 {
            @media screen and (max-width: 992px) {
                width: 144px;
                flex-shrink: 0;
            }

            @media screen and (max-width: 576px) {
                width: 100%;
                margin-bottom: 22px;
            }
        }
    }

    &__col1 {
        width: 390px;
        flex-shrink: 0;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 992px) {
            align-self: auto;
            width: 435px
        }
        @media screen and (max-width: 768px) {
            width: calc(100% - 164px);
        }

        @media screen and (max-width: 576px) {
            width: 100%;
        }

        &--info {
            margin-bottom: 0;
            color: $dark-brown;
            @extend %text1;
            line-height: 20px;
            @media screen and (max-width: 992px) {
                margin-bottom: 20px;
            }
            @media screen and (max-width: 768px) {
                font-size: 12px;
                line-height: 16px;
            }
            @media screen and (max-width: 576px) {
                margin-bottom: 18px;
            }
        }

        p {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 0;
            color: $text-color;
            @media screen and (max-width: 768px) {
                font-size: 12px;
                line-height: 16px;
            }

            a {
                display: block;
                color: #A09C9A;
                text-decoration: none;
                transition: all 0.25s;

                &:hover {
                    text-decoration: none;
                    color: $dark-green;
                }
            }
        }
    }

    &__col2 {
        width: 173px;
        flex-shrink: 0;
        @media screen and (max-width: 992px) {
            width: auto;
        }
    }

    &__col3 {
        width: 286px;
        flex-shrink: 0;
        align-self: stretch;
        @media screen and (max-width: 992px) {
            width: 144px;
        }
    }

    &__menu {
        @include nl;
        @media screen and (max-width: 576px) {
            margin-left: 13px;
        }

        li {
            display: block;
            margin-bottom: 11px;
            @media screen and (max-width: 992px) {
                margin-bottom: 14px;
            }
            @media screen and (max-width: 576px) {
                margin-bottom: 12px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            @extend %text2;
            color: $text-color;
            display: block;
            text-decoration: none;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $primary-red;
            }
        }
    }

    &__soc {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        h6 {
            font-size: 20px;
            line-height: 26px;
            color: $text-color;
            margin-bottom: 12px;
        }

        &--menu {
            @include nl;

            li {
                margin-right: 12px;
                @media screen and (max-width: 576px) {
                    margin-right: 8px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }

            li a {
                display: block;
                position: relative;
                border-radius: 4px;
                background-color: $white-color;
                width: 40px;
                height: 40px;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
                transition: all 0.25s;
                @media screen and (max-width: 576px) {
                    width: 32px;
                    height: 32px;
                }

                &:hover {
                    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.25);
                    .icon {
                        transform: scale(1.1);
                        @media screen and (max-width: 576px) {
                            transform: scale(0.9);
                        }
                    }
                }
            }

            .icon {
                width: 24px;
                height: 24px;
                @include position-abs;
                @include pos-center;
                transition: all 0.25s;
                @media screen and (max-width: 576px) {
                    transform: scale(0.8);
                }
            }
        }

        &--col2 {
            a, p {
                font-weight: 350;
                font-size: 14px;
                line-height: 20px;
                text-decoration: none;
                color: $light-color2;
                margin: 0;
            }

            a {
                transition: all 0.25s;
                display: block;
                margin-bottom: 30px;
                font-weight: 400;

                &:hover {
                    color: $dark-green;
                }
            }
        }
    }

    &__logos-wrap {
        @media screen and (max-width: 992px) {
            margin-bottom: 15px;
        }
        @media screen and (max-width: 576px) {
            justify-content: space-between;
        }
    }

    &__logos {
        align-items: flex-end;
    }

    &__main-logo {
        display: block;
        margin-right: 27px;
        height: 77px;
        @media screen and (max-width: 992px) {
            height: 56px;
            margin-right: 19px;
        }
        @media screen and (max-width: 576px) {
            height: 47px;
            margin-right: 15px;
        }

        img {
            width: auto;
            height: 100%;
        }
    }

    &__secondary-logo {
        display: block;
        height: 73px;
        @media screen and (max-width: 992px) {
            height: 53px;
        }
        @media screen and (max-width: 576px) {
            height: 43px;
        }

        img {
            width: auto;
            height: 100%;
        }
    }

    &__number {
        @media screen and (max-width: 992px) {
            margin-bottom: 27px !important;
        }

        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &__phone-wrap {
        display: none;
        @media screen and (max-width: 992px) {
            display: block;
            margin-left: 30px;
        }
    }

    &__phone {
        display: block;
        font-weight: 350;
        font-size: 16px;
        line-height: 20px;
        color: $text-color;
        margin-bottom: 8px;
        text-decoration: none;
        transition: all 0.25s;
        @media screen and (max-width: 576px) {
            font-size: 14px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            text-decoration: none;
            color: $primary-red;
        }
    }

    &__copy {
        justify-content: space-between;
        display: none !important;
        @media screen and (max-width: 992px) {
            display: flex !important;
        }

        @media screen and (max-width: 576px) {
            display: none !important;
        }

        a, p {
            font-weight: 350;
            font-size: 12px;
            line-height: 18px;
            text-decoration: none;
            color: $light-color2;
            margin: 0 !important;
        }

        a {
            transition: all 0.25s;
            display: block;
            margin-bottom: 30px;

            &:hover {
                color: $dark-green;
            }
        }
    }

    &__col4 {
        width: 100%;
        @media screen and (max-width: 576px) {
            display: block !important;
        }

        &--row1 {
            align-items: flex-start;
        }

        &--row2 {
            margin-top: 16px;

            p {
                font-weight: 350;
                font-size: 12px;
                line-height: 18px;
                margin: 0;
                color: $text-color2;
            }
        }
    }

    &__mail {
        text-decoration: none;
        font-weight: 350;
        font-size: 14px;
        line-height: 20px;
        color: $text-color;
        margin-top: 6px;
        display: block;
        transition: all 0.25s;
        &:hover {
            text-decoration: none;
            color: $primary-red;
        }
    }

    &__pol {
        font-weight: 350;
        font-size: 14px;
        line-height: 18px;
        margin-left: 14px;
        margin-bottom: 0;
        color: $text-color2;
        transition: all 0.25s;
        &:hover {
            text-decoration: none;
            color: $primary-red;
        }
    }
}
