{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="news-list.html">Истории успеха</a>
                </li>
                <li>Директор ООО “Медицинский центр доктора Лукиновой” о том...</li>
            </ul>
        </div>
    </div>

    <div class="news-main">

        <div class="container">
            <h3 class="block-title">Директор ООО “Медицинский центр доктора Лукиновой” о том, как малый бизнес спасает
                целый район</h3>

            <div class="news-main__content">
                <img src="static/img/content/history-content.png" class="img-left" alt="">
                <p>Здоровье – крайне деликатная тема.<br>
                    Всем нам когда-либо приходилось обращаться к врачу. Зачастую вопрос стоит не только в качестве и
                    стоимости его поддержания, но<br>
                    и доступности. Если жителям крупных городов не составляет труда записаться в одну из государственных
                    больниц, не секрет, что населению, проживающему в отдалённых районах края, зачастую приходится
                    преодолевать многокилометровые расстояния, чтобы получить высококвалифицированную медпомощь. </p>

                <p>Частная медицина в России пока мало распространена и обслуживает узкую прослойку населения, но для
                    малых населенных пунктов платные медклиники становятся настоящим спасением и единственно верным
                    решением.</p>
                <ul>
                    <li>Мы здесь одни из немногих. Есть ещё центральная районная больница, правда уже и она не
                        центральная, и на неё надежды нет никакой, – рассказывает Любовь.
                    </li>
                    <li>Но одна больница ведь не в состоянии принять и обслужить пациентов со всего района.</li>
                    <li>Именно так. Медцентр был просто необходим Апанасенковскому району, он ведь большой. Я сама
                        проживаю здесь и прекрасно понимаю, с какими проблемами ежедневно сталкиваются местные жители.
                        Люди
                        нам доверяют, потому что знают, что мы не приехали откуда-то там.
                    </li>
                    <li>Зная, что проблема в районе стоит так остро, неужели до вас не было желающих создать
                        медучреждение, или хотя бы составить вам конкуренцию? Ведь это такое раздолье для бизнеса.
                    </li>
                    <li>Мы были первыми. Чтобы открыть здесь что-то, что могло бы составить нам конкуренцию, надо
                        сделать
                        и вложиться больше, чем это сделали мы. Наше учреждение оказывает высококвалифицированную
                        амбулаторно-поликлиническую помощь. Доктора центра – врачи высшей категории. Мы привозим из
                        Ставрополя и оперирующих врачей. Конечно, за более серьёзными операциями, которые проводятся
                        только
                        под общим наркозом – это в город. Но и здесь мы очень сильно помогаем жителям. К нам приезжают
                        даже
                        из соседних районов. Люди нам благодарны, и, знаете, это настолько приятно.
                    </li>
                    <li>Неужели не хотелось открыть своё дело где-нибудь в Ставрополе или, например, Михайловске?
                        Наверное, это было бы прибыльнее.
                    </li>
                    <li>В Ставрополе очень большая конкуренция, и, честно говоря, мне хотелось найти своё место:
                        помогать
                        людям, быть полезной, а не просто сидеть в ожидании, когда придёт редкий пациент. Конечно, это
                        мой
                        заработок, но цели гнаться за деньгами не было. Если вы зайдёте на наш сайт, то увидите там
                        прейскурант на услуги – как мне кажется, всё более чем доступно для сельского жителя. И, честно
                        говоря, цены мы не меняли с самого первого дня открытия, с 2011 года.
                    </li>
                </ul>

                <p>В селе Дивном доктора Любовь Лукинову знают все. Вот уже семь лет она пользуется большими любовью и
                    уважением у жителей всего Апанасенковского района, ведь именно благодаря ей район обзавёлся
                    современным и доступным медцентром, где нет очередей, толкучки и хамства персонала – всего того, за
                    что многие так не любят больницы.</p>
                <p>Посетителей центра принимают по направлению и по звонку три дня в неделю. Здесь их встречают
                    приветливые высококвалифицированные сотрудники, врачи работают оперативно и с улыбкой, лечение
                    оказывается своевременно, а нахождение внутри здания – доставляет массу комфорта даже по городским
                    меркам.</p>
            </div>

            <div class="slider-content">
                <div class="swiper-container slider-content-swiper">
                    <div class="swiper-wrapper">
                        <a class="swiper-slide" href="static/img/content/news-content2.png"
                             data-lightbox="sliderImages">
                            <img src="static/img/content/news-content2.png" alt="">
                            <div class="icon-zoom"></div>
                        </a>
                        <a class="swiper-slide" href="static/img/content/news-content3.png"
                             data-lightbox="sliderImages">
                            <img src="static/img/content/news-content3.png" alt="" data-lightbox="image-1">
                            <div class="icon-zoom"></div>
                        </a>
                        <a class="swiper-slide" href="static/img/content/news-content4.png"
                           data-lightbox="sliderImages">
                            <img src="static/img/content/news-content4.png" alt="" data-lightbox="image-1">
                            <div class="icon-zoom"></div>
                        </a>

                        <a class="swiper-slide" href="static/img/content/news-content5.png"
                             data-lightbox="sliderImages">
                            <img src="static/img/content/news-content5.png" alt="" data-lightbox="image-1">
                            <div class="icon-zoom"></div>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-prev slider-content__prev"></div>
                <div class="swiper-button-next slider-content__next"></div>
            </div>

            <div class="news-main__author">
                <h6>Автор статьи: Петров Петр</h6>
                <time>22.01.2019</time>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
