{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Истории успеха</li>
            </ul>
        </div>
    </div>

    <div class="news">
        <div class="container">
            <h3 class="block-title">Истории успеха</h3>

            <div class="row">
                <div class="col-lg-12 col-sm-6">
                    <a href="history.html" class="d-flex news__item">
                        <div class="news__image">
                            <img src="static/img/content/history1.png" alt="">

                            <div class="news__date"><span></span>
                                <time>18.07.20</time>
                            </div>
                        </div>

                        <div class="news__content">
                            <h5>Краевой фонд микрофинансирования признан крупнейшим
                                в России</h5>
                            <p>Он занял первое место по объему поддержки малого и среднего предпринимательства в
                                рейтинге
                                агентства RAEX (Эксперт РА) за 2019 год. Фонд назван крупнейшим среди некоммерческих
                                микрофинансовых организаций страны. Объем выданных им льготных микрозаймов превысил 1
                                млрд
                                292
                                млн рублей.</p>

                            <div class="news__more">Читать далее<span></span></div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-sm-6">
                    <a href="history.html" class="d-flex news__item">
                        <div class="news__image">
                            <img src="static/img/content/history2.png" alt="">

                            <div class="news__date"><span></span>
                                <time>18.07.20</time>
                            </div>
                        </div>

                        <div class="news__content">
                            <h5>На поддержку бизнеса направят 1,5 млрд рублей</h5>
                            <p>Что касается малого бизнеса. Мы докапитализировали краевые фонды на 1,5 млрд рублей. Они
                                будут
                                выдавать займы практически без процентов. Это важная и необходимая мера для того, чтобы
                                бизнес
                                сохранил свою устойчивость...</p>

                            <div class="news__more">Читать далее<span></span></div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-sm-6">
                    <a href="history.html" class="d-flex news__item">
                        <div class="news__image">
                            <img src="static/img/content/history3.png" alt="">

                            <div class="news__date"><span></span>
                                <time>18.07.20</time>
                            </div>
                        </div>

                        <div class="news__content">
                            <h5>Фонд микрофинансирования Новосибирской области снизил ставки по займам.</h5>
                            <p>Фонд микрофинансирования Новосибирской области с июля этого года начинает выдавать
                                микрозаймы
                                субъектам малого и среднего предпринимательства Новосибирской области в размере до 3 млн
                                рублей.
                                Микрозаймы выдаются Фондом по ключевой ставке ЦБ РФ – 7,25% годовых, что на 2,75%
                                ниже... </p>

                            <div class="news__more">Читать далее<span></span></div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-sm-6">
                    <a href="history.html" class="d-flex news__item">
                        <div class="news__image">
                            <img src="static/img/content/history4.png" alt="">

                            <div class="news__date"><span></span>
                                <time>18.07.20</time>
                            </div>
                        </div>

                        <div class="news__content">
                            <h5>Более 100 предпринимателей края получили господдержку Фонда микрофинансирования</h5>
                            <p>Предприниматели смогут использовать эти средства на выплату зарплаты, арендные и
                                коммунальные
                                платежи, а также на целевые расходы. Сумма микрозаймов составляет от 100 тыс. до 2 млн
                                рублей на
                                срок до трех лет. Деньги перечисляют в день подписания договора.</p>

                            <div class="news__more">Читать далее<span></span></div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-12 col-sm-6">
                    <a href="history.html" class="d-flex news__item">
                        <div class="news__image">
                            <img src="static/img/content/history5.png" alt="">

                            <div class="news__date"><span></span>
                                <time>18.07.20</time>
                            </div>
                        </div>

                        <div class="news__content">
                            <h5>Новости для кафе и кофеен: какие нововведения ожидают предпринимателей в этом
                                месяце? </h5>
                            <p>В этом месяце вводятся в эксплуатацию новые правила для ведения кофейного бизнеса. Какие
                                сертификаты понадобятся, как настроить работу так, чтобы бизнес приновил больше
                                прибыли?</p>

                            <div class="news__more">Читать далее<span></span></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center justify-content-sm-center">
                <a href="#" class="btn btn-main-border mt-3 mt-sm-5 mb-5">Загрузить еще</a>
            </div>

            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="icon-pagination-start"></span>
                        </a>
                    </li>

                    <li class="page-item page-item-prev">
                        <a class="page-link" href="#">
                            <span class="icon-pagination-prev"></span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>

                    <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                    </li>

                    <li class="page-item d-none d-sm-block">
                        <a class="page-link" href="#">3</a>
                    </li>

                    <li class="page-item d-none d-sm-block">
                        <a class="page-link" href="#">4</a>
                    </li>

                    <li class="page-item">...</li>

                    <li class="page-item">
                        <a class="page-link" href="#">12</a>
                    </li>

                    <li class="page-item page-item-next">
                        <a class="page-link" href="#">
                            <span class="icon-pagination-next"></span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#">
                            <span class="icon-pagination-end"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

{{> footer/footer}}
