<div class="swiper-slide main-banner__slide">
    <div class="main-banner__image">
       <img src="static/img/content/b-d.png" class="desktop-img">
       <img src="static/img/content/b-t.png" class="laptop-img">
       <img src="static/img/content/b-m.png" class="mobile-img">
   </div>
    <div class="main-banner__content slider1">
        <div class="container">
            <div class="h1">Поддержка<br>
                начинающего бизнеса
            </div>
            <p>Сумма до 5 000 000 р.<br>
                Процентная ставка от 2,15% годовых<br>
                Без комиссии за предоставление займа<br>
                Срок до 36 мес. без ограничений по цели займа</p>

            <div class="row justify-content-start">
                <div class="col-lg-3 col-md-5 col-sm-6">
                    <a href="#" class="btn btn-main">Получить займ</a>
                </div>
            </div>
        </div>
    </div>
</div>
