{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Восстановление пароля</li>
            </ul>
        </div>
    </div>

    <div class="reg">
        <div class="container">
            <h2 class="block-title">Восстановление пароля</h2>

            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <form>
                        <div class="form-group">
                            <label>Введите код из письма: <span class="text-red">*</span></label>
                            <input type="text" class="form-control" name="code" required>
                        </div>

                        <div class="form-group">
                            <label>Новый пароль: <span class="text-red">*</span></label>
                            <input type="password" class="form-control" name="password" required>
                        </div>

                        <div class="form-group mb-5">
                            <label>Новый пароль еще раз: <span class="text-red">*</span></label>
                            <input type="password" class="form-control" name="password" required>
                        </div>

                        <button type="submit" class="btn btn-main">Отправить запрос</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
