{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Восстановление пароля</li>
            </ul>
        </div>
    </div>

    <div class="reg">
        <div class="container">
            <h2 class="block-title">Восстановление пароля</h2>

            <div class="text-success">
                <div class="icon icon-check"></div>
                Пароль изменен. Войдите в личный кабинет с новым паролем.
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
