{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Контакты</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h3 class="block-title">Контакты</h3>

            <div class="row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-sm-6 d-flex flex-column justify-content-between">
                            <div class="d-flex contact-info">
                                <div class="icon contact-point"></div>
                                <div class="contact-info__text">
                                    <h6>Фактический адрес</h6>
                                    <p>г. Новосибирск, ул. Сибревкома, д.9</p>
                                </div>
                            </div>

                            <div class="d-flex contact-info">
                                <div class="icon d-none d-md-block"></div>
                                <div class="contact-info__text">
                                    <h6>Почтовый адрес</h6>
                                    <p>630099, г. Новосибирск,<br>
                                        Новосибирская область, а/я 548</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-6">
                            <div class="d-flex contact-info">
                                <div class="icon contact-phone"></div>
                                <div class="contact-info__text">
                                    <h6>Телефон</h6>
                                    <a href="tel:8-800-600-34-07">8-800-600-34-07</a>
                                    <a href="tel:(383) 209-13-33">(383) 209-13-33</a>
                                </div>
                            </div>

                            <div class="d-flex contact-info">
                                <div class="icon contact-email"></div>
                                <div class="contact-info__text">
                                    <h6>E-mail</h6>
                                    <a href="mailto:info@microfund.ru">info@microfund.ru</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-sm-6">
                            <div class="d-flex contact-info">
                                <div class="icon contact-time"></div>
                                <div class="contact-info__text">
                                    <h6>Режим работы</h6>
                                    <p>рабочие дни с 9-00 до 18-00<br>
                                        пятница с 9-00 до 17-00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="map" id="map"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
