.contact-info {
    margin-bottom: 24px;
    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    @media screen and (max-width: 576px) {
        margin-bottom: 20px;
    }

    &__text {
        h6 {
            margin-top: 6px;
            margin-bottom: 8px;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: $text-color;
        }

        p, a {
            color: $text-color;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
        }

        a {
            display: block;
            text-decoration: none;
            margin-bottom: 8px;
            transition: all 0.25s;

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                text-decoration: none;
                color: $primary-red;
            }
        }
    }

    .icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin-right: 10px;
        @media screen and (max-width: 768px) {
            margin: 0 0 6px;
        }
    }

    .contact-point {
        background-image: url("../img/general/contact-point.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .contact-time {
        background-image: url("../img/general/contact-time.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

.map {
    width: 100%;
    height: 430px;
    @media screen and (max-width: 992px) {
        height: 406px;
        margin-top: 20px;
    }
    @media screen and (max-width: 576px) {
        height: 466px;
        margin-top: 10px;
    }
}

.balloon-map {
    background: $white-color;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 24px;
    max-width: 403px !important;
    width: 403px !important;
    @media screen and (max-width: 576px) {
        max-width: 282px !important;
        width: 282px !important;
    }

    .close {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        @include bg-svg($close-brown);
    }

    .popover-inner > ymaps {
        width: 100% !important;
        height: auto !important;
    }
}

.balloon-header {
    padding-bottom: 16px;
    border-bottom: 4px solid rgba(195, 147, 103, 0.15);
    width: 100%;
    @media screen and (max-width: 576px) {
        padding-bottom: 6px;
    }

    h4 {
        color: $primary-red;
        font-weight: bold;
        font-size: 17px;
        line-height: 20px;
        margin: 0;
        font-family: $font-PT-sans;
        @media screen and (max-width: 576px) {
            font-size: 14px;
            line-height: 28px;
        }
    }
}

.balloon-body {
    padding-top: 20px;
    @media screen and (max-width: 576px) {
        padding: 16px 0 0;
    }
    p {
        margin-bottom: 6px;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: $text-color;
        font-family: $font-PT-sans;
        &:last-child {
            margin-bottom: 0;
        }
        @media screen and (max-width: 576px) {
            font-size: 14px;
        }
    }
}
