.controls {
    &__block {
        margin-bottom: 54px;
        max-width: 750px;

        &:last-child {
            margin-bottom: 0;
        }

        .block-title {
            margin-bottom: 32px;

            @media screen and (max-width: 576px) {
                margin-bottom: 20px;
            }
        }
    }

    &__item {
        margin-bottom: 24px;
        padding-left: 54px;
        position: relative;

        @media screen and (max-width: 576px) {
            margin-bottom: 20px;
            padding-left: 22px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        h6 {
            position: relative;
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            margin-bottom: 8px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 9.95px;
                height: 9.85px;
                background-color: $primary-red;
                transform: rotate(45deg);
                top: 3px;
                left: -25px;
                @media screen and (max-width: 576px) {
                    left: -22px;
                }
            }
        }

        p {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
            color: $text-color;
        }
    }
}
