{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>О нас</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <div class="controls__block">
                <h2 class="block-title">Попечительский совет</h2>

                <div class="controls__item">
                    <h6>Васильев Вадим Витальевич</h6>
                    <p>Заместитель министра промышленности, торговли и развития предпринимательства
                        Новосибирской
                        области - начальник управления промышленности и предпринимательства</p>
                </div>
                <div class="controls__item">
                    <h6>Бурденюк Евгений Николаевич</h6>
                    <p>Председатель Сообщества молодых предпринимателей г. Новосибирска, сопредседатель
                        Новосибирского
                        областного отделения общероссийской общественной организации «Деловая Россия»</p>
                </div>
                <div class="controls__item">
                    <h6>Диденко Ирина Валериевна</h6>
                    <p>Заместитель председателя комитета Законодательного Собрания Новосибирской области по
                        бюджетной,
                        финансово-экономической политике и собственности</p>
                </div>
                <div class="controls__item">
                    <h6>Киселёв Олег Сергеевич</h6>
                    <p>Член Совета Новосибирского отделения Общероссийской общественной организации "Деловая
                        Россия"</p>
                </div>
                <div class="controls__item">
                    <h6>Майструк Владимир Савельевич</h6>
                    <p>Заместитель председателя комитета Законодательного Собрания Новосибирской области по
                        бюджетной,
                        финансово-экономической политике и собственности</p>
                </div>
                <div class="controls__item">
                    <h6>Николаенко Александр Леонидович</h6>
                    <p>Член Совета Новосибирского отделения Общероссийской общественной организации "Деловая
                        Россия"</p>
                </div>
            </div>

            <div class="controls__block">
                <h3 class="block-title">Исполнительная дирекция</h3>

                <div class="controls__item">
                    <h6>Симонов Николай Николаевич</h6>
                    <p>Исполнительный директор МКК Фонд микрофинансирования НСО</p>
                </div>
                <div class="controls__item">
                    <h6>Амосова Анна Николаевна</h6>
                    <p>Заместитель начальника управления промышленности и предпринимательства - начальник отдела
                        развития малого и среднего предпринимательства Министерства промышленности, торговли и
                        развития
                        предпринимательства Новосибирской области</p>
                </div>
                <div class="controls__item">
                    <h6>Турчак Ирина Алексеевна</h6>
                    <p>Заместитель начальника отдела развития малого и среднего предпринимательства Министерства
                        промышленности, торговли и развития предпринимательства Новосибирской области</p>
                </div>
                <div class="controls__item">
                    <h6>Космынин Михаил Викторович</h6>
                    <p>Директор АНО "Центр содействия развитию предпринимательства Новосибирской области"</p>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
