{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>О Фонде</li>
            </ul>
        </div>
    </div>

    <div class="">
        <div class="container">
            <h2 class="block-title">О Фонде</h2>

            <div class="about-main">
                <img src="static/img/content/about-main.png" class="img-left" alt="">

                <h4>ММК ФОНД МИКРОФИНАНСИРОВАНИЯ НСО</h4>
                <p>Фонд по поддержке малого и среднего бизнеса города Новосибирск. Образован 12 июня 2001
                    года.<br>Учредителем организации является Симонов Николай Николаевич.</p>

                <a href="#" download="download" class="d-flex document-item">
                    <div class="icon-document"></div>
                    <div class="document-item__text">
                        <div>Устав МКК Фонд Микрофинансирования НСО от 12.06.2001
                            <span class="document-item__size">(0,92 Mb)</span>
                        </div>
                    </div>
                </a>

                <a href="#" download="download" class="d-flex document-item">
                    <div class="icon-document"></div>
                    <div class="document-item__text">
                        <div>Документ МКК Фонд Микрофинансирования НСО
                            <span class="document-item__size">(0,92 Mb)</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="main-advantages advantages">
        <div class="container">
            <h3>Наши преимущества:</h3>

            <div class="d-flex main-advantages__wrap">
                <div class="d-flex main-advantages__item">
                    <div class="main-advantages__icon">
                        <img src="static/img/content/adv-icon1.svg" alt="">
                    </div>
                    <p>Индивидуальный <br>
                        график погашения
                    </p>
                </div>

                <div class="d-flex main-advantages__item">
                    <div class="main-advantages__icon">
                        <img src="static/img/content/adv-icon2.svg" alt="">
                    </div>
                    <p>Низкая процентная <br>ставка
                    </p>
                </div>

                <div class="d-flex main-advantages__item">
                    <div class="main-advantages__icon">
                        <img src="static/img/content/adv-icon3.svg" alt="">
                    </div>
                    <p>Поддержка начинающих <br>
                        предпринимателей
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="goals">
        <div class="container">
            <h3>Наши сотрудники</h3>
            <div class="d-flex goals__line">
                <div class="goals__item">
                    <p>Развитие системы микрофинансирования</p>
                </div>
                <div class="goals__item">
                    <p>Обеспечение финансовой доступности</p>
                </div>
                <div class="goals__item">
                    <p>Развитие системы микрофинансирования</p>
                </div>
                <div class="goals__item">
                    <p>Обеспечение финансовой доступности</p>
                </div>
            </div>
        </div>
    </div>

    <div class="goals about-history">
        <div class="container">
            <h3>История фонда</h3>
            <div class="d-flex about-history__line">
                <div class="about-history__item">
                    <p>Создание фонда</p>
                    <div class="about-history__year">2001 г</div>
                </div>
                <div class="about-history__item">
                    <p>Является членом СРО "МиР"</p>
                    <div class="about-history__year">2004 г</div>
                </div>
                <div class="about-history__item">
                    <p>В государственном реестре <br>
                        микрофинансовых организаций
                    </p>
                    <div class="about-history__year">2007 г</div>
                </div>
            </div>
        </div>
    </div>

    <div class="requisites">
        <div class="container">
            <h2 class="block-title">Реквизиты Фонда</h2>

            <div class="requisites__block">
                <div class="requisites__header">ЕГРЮЛ</div>
                <div class="requisites__body">
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">Полное наименование</div>
                        <div class="col-lg-8 col-md-7 col2">МИКРОКРЕДИТНАЯ КОМПАНИЯ НОВОСИБИРСКИЙ ОБЛАСТНОЙ
                            ФОНД МИКРОФИНАНСИРОВАНИЯ
                            СУБЪЕКТОВ МАЛОГО И СРЕДНЕГО ПРЕДПРИНИМАТЕЛЬСТВА
                        </div>
                    </div>
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">Сокращенное наименование</div>
                        <div class="col-lg-8 col-md-7 col2">МКК ФОНД МИКРОФИНАНСИРОВАНИЯ НСО</div>
                    </div>
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">ОГРН</div>
                        <div class="col-lg-8 col-md-7 col2">1105400002025</div>
                    </div>
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">КПП</div>
                        <div class="col-lg-8 col-md-7 col2">5406570716</div>
                    </div>
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">КПП</div>
                        <div class="col-lg-8 col-md-7 col2">1105400002025</div>
                    </div>
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">КПП</div>
                        <div class="col-lg-8 col-md-7 col2">5406570716</div>
                    </div>
                    <div class="row requisites__line">
                        <div class="col-lg-4 col-md-5 col1">Адрес регистрации</div>
                        <div class="col-lg-8 col-md-7 col2">630099, Новосибирская обл., г. Новосибирск, ул.
                            Депутатская, дом 48, офис 610
                        </div>
                    </div>
                </div>
            </div>

            <div class="requisites__block">
                <div class="requisites__header">Росстат</div>
                <div class="requisites__body">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="d-flex requisites__line mb">
                                <div class="col3">ОКПО</div>
                                <div class="col2">66250997</div>
                            </div>
                            <div class="d-flex requisites__line mb">
                                <div class="col3">ОКОГУ</div>
                                <div class="col2">49014</div>
                            </div>
                            <div class="d-flex requisites__line mb">
                                <div class="col3">ОКАТО</div>
                                <div class="col2">50401386000</div>
                            </div>
                            <div class="d-flex requisites__line mb">
                                <div class="col3">ОКТМО</div>
                                <div class="col2">50701000</div>
                            </div>
                        </div>

                        <div class="col-lg-8 col-md-7">
                            <div class="d-flex requisites__line mb">
                                <div class="col4">ОКФС</div>
                                <div class="col2">16</div>
                            </div>
                            <div class="d-flex requisites__line mb">
                                <div class="col4">ОКОПФ</div>
                                <div class="col2">16</div>
                            </div>
                            <div class="d-flex requisites__line mb">
                                <div class="col4">ОКВЭД-2001</div>
                                <div class="col2">65.23</div>
                            </div>
                            <div class="d-flex requisites__line mb">
                                <div class="col4">ОКВЭД-2014</div>
                                <div class="col2">64.99</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="requisites__block">
                <div class="requisites__header">Банковские реквизиты</div>
                <div class="requisites__body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="requisites__line">
                                <div class="col1">БАНК "ЛЕВОБЕРЕЖНЫЙ" (ПАО)</div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="d-flex requisites__line mb">
                                <div class="col1">БИК:</div>
                                <div class="col2 pl-1"> 045004850</div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-md-6">
                            <div class="d-flex requisites__line">
                                <div class="col1">Рассчетный счет:</div>
                                <div class="col2 pl-1"> 40703810003000000197</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="staff">
        <div class="container">
            <h2 class="block-title">Наши сотрудники</h2>

            <div class="staff__block">
                <h4>Администрация</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff1.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Симонов Николай Николаевич</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Исполнительный директор</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:simonov@microfund.ru">simonov@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-14-85">+7 (383) 209-14-85</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="staff__block">
                <h4>Бухгалтерия</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff2.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Когтева Наталья Васильевна</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Главный бухгалтер</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:kogteva@microfund.ru">kogteva@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 533</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff3.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Журавлёва Наталья Николаевна</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Бухгалтер</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:zhuravleva@microfund.ru">zhuravleva@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 537</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="staff__block">
                <h4>Экономическая служба</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff4.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Ефимова Татьяна Александровна</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший экономист</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:efimova@microfund.ru">efimova@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 531</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff5.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Паршиков Пётр Сергеевич</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший экономист</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:parshikov@microfund.ru">parshikov@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 532</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff6.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Колесник Артём Владимирович</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший экономист</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:kolesnik@microfund.ru">kolesnik@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 536</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff7.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Белогуров Евгений Андреевич</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший экономист</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:belogurov@microfund.ru">belogurov@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 538</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff8.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Аржаткин Игорь Анатольевич</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший экономист</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:arzhatkin@microfund.ru">arzhatkin@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 535</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="staff__block">
                <h4>Юридическая служба</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff9.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Павлов Игорь Николаевич</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший юристконсульт</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:pavlov@microfund.ru">pavlov@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                            <span>доб. 534</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex staff__item">
                            <div class="staff__image">
                                <img src="static/img/content/staff/staff10.png" alt="">
                            </div>
                            <div class="staff__content">
                                <div class="staff__name">Лазарев Иван Владимирович</div>

                                <div class="staff__table">
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Должность:</div>
                                        <div class="staff__table--col2">Старший юристконсульт</div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">E-mail:</div>
                                        <div class="staff__table--col2">
                                            <a href="mailto:lazarev@microfund.ru">lazarev@microfund.ru</a>
                                        </div>
                                    </div>
                                    <div class="d-flex staff__table--row">
                                        <div class="staff__table--col1">Телефон:</div>
                                        <div class="staff__table--col2">
                                            <a href="tel:+7 (383) 209-13-33">+7 (383) 209-13-33</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
