.about-main {
    padding-bottom: 64px;
    @media screen and (max-width: 992px) {
        padding-bottom: 44px;
    }

    @media screen and (max-width: 576px) {
        padding-bottom: 28px;
    }

    .img-left {
        border-radius: 4px;
        width: 360px;
        margin: 0 30px 28px 0;
        float: left;
        display: block;
        @media screen and (max-width: 992px) {
            width: 278px;
            margin: 0 30px 5px 0;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: 500px;
            margin: 0 auto 24px;
        }
    }

    h4 {
        margin-bottom: 24px;
        @media screen and (max-width: 992px) {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 16px;
        }
        @media screen and (max-width: 768px) {
            font-size: 20px;
            line-height: 26px;
        }
        @media screen and (max-width: 576px) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 12px;
        }
    }

    p {
        font-size: 18px;
        line-height: 24px;
        color: $text-color;
        margin-bottom: 30px;
        margin-top: 0;
        max-width: 1000px;
        width: 100%;
    }

    .document-item {
        padding-left: 0;
    }
}


.goals {
    margin-bottom: 93px;

    @media screen and (max-width: 992px) {
        margin-bottom: 77px;
    }
    @media screen and (max-width: 576px) {
        margin-bottom: 55px;
    }

    h3 {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.005em;
        color: $dark-brown;
        margin-bottom: 40px;
    }

    &__line {
        border-bottom: 4px solid $light-brown;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            border-bottom: none;
            padding-left: 75px;
            position: relative;

            &:after {
                content: '';
                display: block;
                height: 100%;
                width: 0;
                position: absolute;
                top: 0;
                left: 33px;
                border-left: 4px solid $light-brown;
            }
        }
    }

    &__item {
        width: 25%;
        flex-shrink: 0;
        position: relative;
        padding-bottom: 33px;
        padding-left: 12px;
        @media screen and (max-width: 992px) {
            padding-bottom: 29px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }

        p {
            margin-bottom: 0;
            @extend %text2;
            color: $text-color;
            font-family: $font-circle;
            @media screen and (max-width: 992px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 24px;
            width: 24px;
            transform: rotate(45deg);
            background-color: $light-brown;
            left: 0;
            bottom: -14px;
            @media screen and (max-width: 768px) {
                left: -52px;
                top: 0;
                bottom: auto;
            }
        }

        &:nth-child(1), &:nth-child(3) {
            @media screen and (max-width: 992px) {
                width: 205px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            @media screen and (max-width: 992px) {
                width: 170px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &:nth-child(4) {
            @media screen and (max-width: 992px) {
                width: 115px;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

.about-history {
    margin-bottom: 147px;
    @media screen and (max-width: 992px) {
        margin-bottom: 129px;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 64px;
    }

    &__line {
        border-bottom: 4px solid $light-brown;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            border-bottom: none;
            padding-left: 75px;
            position: relative;

            &:after {
                content: '';
                display: block;
                height: 100%;
                width: 0;
                position: absolute;
                top: 0;
                left: 33px;
                border-left: 4px solid $light-brown;
            }
        }
    }

    &__item {
        position: relative;
        width: calc(100% / 3);
        flex-shrink: 0;
        height: 81px;
        padding-bottom: 33px;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 768px) {
            flex-direction: column-reverse;
            height: auto;
            padding: 0;
            margin-bottom: 24px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 24px;
            width: 24px;
            transform: rotate(45deg);
            background-color: $light-brown;
            left: 0;
            bottom: -14px;
            @media screen and (max-width: 768px) {
                left: -52px;
                top: 0;
                bottom: auto;
            }
        }

        &:nth-child(1) {
            @media screen and (max-width: 992px) {
                width: 27%;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &:nth-child(2) {
            @media screen and (max-width: 992px) {
                width: 36%;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &:nth-child(3) {
            @media screen and (max-width: 992px) {
                width: 37%;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__year {
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        margin: 0;
        letter-spacing: 0.005em;
        color: $text-color;
        position: absolute;
        bottom: -50px;
        left: 30px;
        @media screen and (max-width: 768px) {
            position: relative;
            margin-bottom: 6px;
            left: 0;
            bottom: 0;
        }
        @media screen and (max-width: 576px) {
            font-size: 20px;
            line-height: 20px;
        }
    }

    p {
        margin-bottom: 0;
        @extend %text2;
        color: $text-color;
        font-family: $font-circle;
        @media screen and (max-width: 992px) {
            font-size: 16px;
            line-height: 20px;
        }
        @media screen and (max-width: 768px) {
            br {
                display: none;
            }
        }
    }
}

.staff {
    padding-bottom: 36px;

    h4 {
        color: $dark-brown;
        @extend %h4;
        margin-bottom: 32px;
        @media screen and (max-width: 576px) {
            margin-bottom: 20px;
        }
    }

    &__block {
        margin-bottom: 34px;
        @media screen and (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__item {
        margin-bottom: 30px;
        @media screen and (max-width: 992px) {
            margin-bottom: 32px;
        }
        @media screen and (max-width: 576px) {
            flex-direction: column;
            position: relative;
            margin-bottom: 30px;
        }
    }

    &__image {
        width: 160px;
        height: 220px;
        margin-right: 28px;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: 992px) {
            width: 185px;
            height: 246px;
        }
        @media screen and (max-width: 576px) {
            width: 84px;
            height: 111px;
            margin: 0 12px 12px 0;
        }

        img {
            @include position-abs;
            @include full;
            @include full-img;
            border-radius: 4px;
        }
    }

    &__content {
        flex-grow: 1;
        @media screen and (max-width: 576px) {
            border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        }
    }

    &__name {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 18px;
        box-sizing: border-box;
        width: 100%;
        color: $dark-green;
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        margin-bottom: 24px;
        letter-spacing: -0.005em;

        @media screen and (max-width: 576px) {
            position: absolute;
            top: 0;
            left: 96px;
            border-bottom: none;
            font-size: 20px;
            line-height: 26px;
            width: calc(100% - 96px);
        }
    }

    &__table {
        &--row {
            align-items: flex-start;
            margin-bottom: 18px;
            @extend %text1;
            line-height: 20px;
            @media screen and (max-width: 576px) {
                margin-bottom: 12px;
            }

            &:last-child {
                margin-bottom: 0;
                @media screen and (max-width: 576px) {
                    margin-bottom: 24px;
                }
            }
        }

        &--col1 {
            width: 100px;
            flex-shrink: 0;
            font-weight: bold;
            color: $text-color;
            @extend %text1;
            line-height: 20px;
            @media screen and (max-width: 576px) {
                width: 92px;
            }
        }

        &--col2 {
            @extend %text1;
            line-height: 20px;

            a {
                display: block;
                @extend %text1;
                line-height: 20px;
                color: $text-color;
                text-decoration: none;
                transition: all 0.25s;

                &:hover {
                    text-decoration: none;
                    color: $primary-red;
                }
            }

            span {
                display: block;
                color: $text-color2;
            }
        }
    }
}

.requisites {
    padding-bottom: 100px;
    @media screen and (max-width: 992px) {
        padding-bottom: 60px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 40px;
    }

    &__block {
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 6px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__header {
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        padding: 16px;
        @extend %h3;
        color: $primary-red;
        @media screen and (max-width: 768px) {
            padding: 14px 0;
        }
        @media screen and (max-width: 576px) {
            font-size: 22px;
            line-height: 30px;
        }
    }

    &__body {
        padding: 24px 16px 0;
        @media screen and (max-width: 768px) {
            padding: 26px 0 0;
        }
    }

    &__line {
        align-items: flex-start;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            margin-bottom: 24px;
        }

        &.mb {
            @media screen and (max-width: 768px) {
                margin-bottom: 12px;
            }
        }

        .col1, .col3, .col4 {
            font-weight: bold;
            font-size: 18px;
            line-height: 20px;
            color: $black-color;
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 12px;
            }
        }

        .col2 {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: $black-color;
        }

        .col3 {
            width: 100px;
            flex-shrink: 0;
            @media screen and (max-width: 768px) {
                width: 110px;
            }
        }

        .col4 {
            width: 145px;
            flex-shrink: 0;
            @media screen and (max-width: 768px) {
                width: 110px;
            }
        }
    }
}
