{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="news-list.html">Новости</a>
                </li>
                <li>Ежегодный конкурс на соискание Национальной премии...</li>
            </ul>
        </div>
    </div>

    <div class="news-main">

        <div class="container">
            <h3 class="block-title">Ежегодный конкурс на соискание Национальной премии <br>
                в области предпринимательской деятельности <br>
                Золотой Меркурий» по итогам 2019 года</h3>

            <div class="news-main__content">
                <img src="static/img/content/news-content.png" class="img-left" alt="">
                <p>Союз "Торгово-промышленная палата Краснодарского края" приглашает предприятия Краснодарского края
                    принять участие
                    в региональном этапе конкурса на соискание Национальной премии в области предпринимательской
                    деятельности "Золотой Меркурий" по итогам 2019 года.<br>
                    28 июля в 11:00 мск в МИА «Россия сегодня» состоится Торжественная онлайн церемония награждения
                    лауреатов конкурса Национальной премии в области предпринимательской деятельности «Золотой Меркурий»
                    по итогам 2019 года.</p>

                <p>Национальная премия была учреждена ТПП РФ в 2002 году. Конкурс проводится на безвозмездной основе и
                    является единственным в России запатентованным в соответствии с законодательством и официально
                    зарегистрированным конкурсом среди предприятий России. Конкурс проводится в два этапа: на
                    региональном и федеральном уровнях.</p>
                <p>Целью конкурса является содействие развитию предпринимательства в России, обеспечение возможности
                    предпринимателям представить лучшие образцы продукции и услуг, передовые отечественные
                    бизнес-модели, а также – пропаганда идеи социальной ответственности бизнеса, укрепление традиций
                    российского предпринимательства, формирование уважительного отношения общества к бизнесу.</p>
                <p>Конкурс проводится среди российских малых предприятий и предприятий-экспортеров на безвозмездной
                    основе. Предприятия не платят взносы за участие и не несут дополнительных расходов на
                    экспертизу.</p>
                <p>Победители определяются в номинациях: лучшее малое предприятие в сфере промышленного производства, в
                    сфере строительства, в сфере производства потребительской продукции, в сфере услуг, в
                    агропромышленном комплексе, в сфере инновационной деятельности, а также – лучшее
                    предприятие-экспортер в сфере промышленного производства, в сфере производства потребительской
                    продукции, в сфере услуг, в сфере международного инновационного сотрудничества. Отдельное внимание
                    уделяется предприятиям в номинации «Лучшее семейное предприятие России».</p>
                <p>В этом году, несмотря на сложную эпидемиологическую и экономическую ситуацию в стране в конкурсе
                    приняли участие 44 региона страны, представившие на федеральный этап лучших своих
                    предпринимателей.</p>
                <p>В онлайн-формате будут названы победители и лауреаты Национальной премии в области
                    предпринимательской деятельности «Золотой Меркурий». Церемония пройдет с приветствиями и обращениями
                    официальных лиц, с участием артистов и концертной программой.</p>
            </div>

            <div class="news-main__author">
                <h6>Автор статьи: Петров Петр</h6>
                <time>22.01.2019</time>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
