.news {
    padding-bottom: 100px;
    @media screen and (max-width: 992px) {
        padding-bottom: 80px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 63px;
    }
    $f: &;

    &__item {
        height: 202px;
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 30px;
        text-decoration: none;
        transition: all 0.25s;

        @media screen and (max-width: 992px) {
            flex-direction: column;
            height: auto;
        }
        @media screen and (max-width: 576px) {
            margin-bottom: 24px;
        }

        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);

            #{$f}__content {
                border-color: $white-color;

                h5 {
                    color: $primary-red;
                    @media screen and (max-width: 992px) {
                        color: $dark-green;
                    }
                }

                p {
                    color: $text-color;
                }
            }

            #{$f}__more {
                color: $dark-green;

                span {
                    @include bg-svg($arrow-more-hover-green);
                }
            }
        }
    }

    &__image {
        position: relative;
        width: 305px;
        height: 100%;
        flex-shrink: 0;
        border-radius: 4px 0 0 4px;
        @media screen and (max-width: 992px) {
            width: 100%;
            padding-bottom: 72%;
            border-radius: 4px 4px 0 0;
            overflow: hidden;
            height: auto;
        }

        img {
            @include position-abs;
            @include full-img;
            @include full;
        }
    }

    &__date {
        position: absolute;
        background-color: $sand-color;
        bottom: 20px;
        left: 0;
        padding: 6px 12px;
        display: flex;
        border-radius: 0 4px 4px 0;
        align-items: center;

        span {
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            @include bg-svg($icon-calendar-white);
        }

        time {
            color: $white-color;
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__content {
        align-self: stretch;
        background: $white-color;
        border: 1px solid $border-color;
        border-left: none;
        box-sizing: border-box;
        border-radius: 0 4px 4px 0;
        display: flex;
        flex-direction: column;
        padding: 20px 24px 24px 30px;
        @media screen and (max-width: 992px) {
            width: 100%;
            padding: 24px 20px;
            height: 144px;
            border: none;
        }
        @media screen and (max-width: 768px) {
            height: 136px;
        }
        @media screen and (max-width: 768px) {
            padding: 20px;
            height: 128px;
        }

        h5 {
            font-weight: bold;
            @extend %text3;
            color: $dark-brown;
            margin-bottom: 14px;
            height: 52px;
            transition: all 0.25s;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            @media screen and (max-width: 992px) {
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                -webkit-line-clamp: 4;
                height: 96px;
                margin-bottom: 0;
                color: $text-color;
            }
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 22px;
                height: 88px;
            }
        }

        p {
            //font-family: $font-PT-sans;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: $text-color;
            display: inline-block;
            overflow: hidden;
            margin-bottom: 0;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 992px) {
                display: none;
            }
        }
    }

    &__more {
        font-weight: 350;
        font-family: $font-circle;
        font-size: 16px;
        line-height: 20px;
        color: $text-color2;
        display: flex;
        align-items: center;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: 0;
        margin-top: auto;
        @media screen and (max-width: 992px) {
            display: none;
        }

        span {
            display: block;
            width: 20px;
            height: 20px;
            @include bg-svg($arrow-more);
            margin-left: 4px;
        }
    }
}

.news-main {
    padding-bottom: 100px;
    @media screen and (max-width: 992px) {
        padding-bottom: 80px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 63px;
    }

    &__content {
        margin-bottom: 60px;
        @media screen and (max-width: 576px) {
            margin-bottom: 30px;
        }

        .img-left {
            border-radius: 4px;
            width: 360px;
            margin: 0 30px 28px 0;
            float: left;
            display: block;
            @media screen and (max-width: 992px) {
                width: 278px;
                margin: 0 30px 5px 0;
            }
            @media screen and (max-width: 576px) {
                width: 100%;
                margin: 0 0 20px;
            }
        }

        p {
            @extend %text3;
            line-height: 30px;
            color: $text-color;
            margin-bottom: 30px;
            @media screen and (max-width: 992px) {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 20px;
                br {
                    display: none;
                }
            }
            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            @include nl;
            margin-bottom: 5px;
            @media screen and (max-width: 992px) {
                margin-bottom: 0;
            }

            li {
                display: inline-block;
                margin-bottom: 25px;
                @extend %text3;
                line-height: 30px;
                @media screen and (max-width: 992px) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
                @media screen and (max-width: 576px) {
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 16px;
                }

                &:before {
                    content: '- ';
                    display: inline-block;
                    margin-right: 3px;
                }
            }
        }
    }

    &__author {
        text-align: right;

        h6 {
            @extend %text3;
            font-weight: 800;
            line-height: 30px;
            margin-bottom: 6px;
            color: $dark-brown;
            letter-spacing: 0.005em;
            @media screen and (max-width: 576px) {
                font-size: 18px;
                line-height: 30px;
            }
        }

        time {
            font-size: 24px;
            line-height: 28px;
            margin: 0;
            color: $primary-red;
            @media screen and (max-width: 992px) {
                font-size: 18px;
                line-height: 24px;
            }
            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

.slider-content {
    position: relative;
    margin-bottom: 32px;

    .swiper-slide {
        width: 263px;
        height: 197px;
        border-radius: 4px;
        position: relative;
        display: block;

        &:hover {
            .icon-zoom {
                opacity: 1;
            }
        }

        @media screen and (max-width: 992px) {
            width: 216px;
            height: 160px;
        }

        img {
            @include position-abs;
            @include full-img;
            @include full;
        }
    }

    &__prev, &__next {
        height: 48px;
        width: 48px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: $white-color;
        opacity: 0.6;
        @media screen and (max-width: 1200px) {
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        }

        @media screen and (max-width: 992px) {
            height: 40px;
            width: 40px;
        }

        &:after {
            content: '';
            height: 100% !important;
            width: 100% !important;
            @include bg-svg($sllider-prev);

            @media screen and (max-width: 992px) {
                transform: scale(0.8) !important;
            }
        }

        &:hover {
            &:after {
                @include bg-svg($sllider-prev-hover);
            }
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__prev {
        right: auto;
        left: -48px;

        @media screen and (max-width: 1200px) {
            left: -10px;
        }
        @media screen and (max-width: 992px) {
            height: 40px;
            width: 40px;
        }
    }

    &__next {
        left: auto;
        right: -48px;

        &:after {
            transform: rotate(180deg);
            @media screen and (max-width: 992px) {
                transform: rotate(180deg) scale(0.8) !important;
            }
        }

        @media screen and (max-width: 1200px) {
            right: -10px;
        }
        @media screen and (max-width: 992px) {
            height: 40px;
            width: 40px;
        }
    }

    .icon-zoom {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 2;
        opacity: 0.4;
        transition: all 0.25s;
        @include bg-svg($zoom);
    }
}

.lightbox .lb-image {
    border: none !important;
    border-radius: 4px !important;
}

.lb-prev, .lb-next {
    position: relative;
    opacity: 1 !important;

    &:after {
        content: '';
        display: block;
        width: 80px;
        height: 80px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        @include bg-svg($arrow-big);

        @media screen and (max-width: 992px) {
            height: 48px;
            width: 48px;
            @include bg-svg($sllider-prev);
            transform: rotate(180deg);
        }
    }
    &:hover {
        &:after {
            @include bg-svg($arrow-big-white);
        }
    }
}
.lb-outerContainer {
    width: 980px !important;
    height: 735px !important;

    @media screen and (max-width: 992px) {
        width: 600px !important;
        height: 450px !important;
    }
    @media screen and (max-width: 768px) {
        width: 500px !important;
        height: 375px !important;
    }
    @media screen and (max-width: 576px) {
        width: 300px !important;
        height: 225px !important;
    }

    .lb-container {
        position: relative;
    }
    .lb-container img {
        width: 100% !important;
        height: 100% !important;
    }
}

.lb-next:after {
    left: auto;
    right: -80px;
    @media screen and (max-width: 992px) {
        right: -48px;
    }
}
.lb-prev:after {
    right: auto;
    left: -80px;
    transform: rotate(180deg);
    @media screen and (max-width: 992px) {
        transform: rotate(0);
        left: -48px;
    }
}
