<header class="header">
    <div class="header__line">
        <div class="container">
            <h6>МКК ФОНД МИКРОФИНАНСИРОВАНИЯ НСО</h6>

            <div class="header__burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="d-flex header__wrap">
            <div class="header__col1">
                <h6>МКК ФОНД МИКРОФИНАНСИРОВАНИЯ НСО</h6>
                <div class="d-flex header__logos">
                    <a href="main.html" class="header__main-logo">
                        <img src="static/img/general/footer-logo.png" alt="">
                    </a>

                    <a href="#" class="header__secondary-logo">
                        <img src="static/img/general/secondary-logo.png" alt="">
                    </a>
                </div>
                <div class="header__col1--contact">
                    <a href="tel:(383) 209-13-33" class="header__contacts--link">
                        <span class="icon icon-header-phone"></span>
                        (383) 209-13-33
                    </a>
                    <a href="tel:(383) 209-13-33" class="header__contacts--link">
                        <span class="icon icon-header-phone"></span>
                        (383) 209-13-33
                    </a>
                    <a href="mailto:info@microfund.ru" class="header__contacts--link">
                        <span class="icon icon-header-letter"></span>
                        info@microfund.ru
                    </a>
                </div>
            </div>

            <div class="header__col2">
                <h6>МКК ФОНД МИКРОФИНАНСИРОВАНИЯ НСО</h6>
                <div class="d-flex header__contacts">
                    <div class="header__contacts--col1">
                        <a href="tel:(383) 209-13-33" class="header__contacts--link">
                            <span class="icon icon-header-phone"></span>
                            (383) 209-13-33
                        </a>

                        <a href="tel:(383) 209-13-33" class="header__contacts--link">
                            <span class="icon icon-header-phone"></span>
                            (383) 209-13-33
                        </a>
                    </div>
                    <div class="header__contacts--col2">
                        <a href="mailto:info@microfund.ru" class="header__contacts--link">
                            <span class="icon icon-header-letter"></span>
                            info@microfund.ru
                        </a>
                        <div class="header__eye header__contacts--link">
                            <span class="icon icon-header-eye-off"></span>
                            версия для слабовидящих
                        </div>
                    </div>
                </div>
            </div>

            <div class="header__col3">
                <div class="d-flex justify-content-between header__soc-wrap">
                    <ul class="header__soc">
                        <li>
                            <a href="#" class="icon icon-header-eye-off"></a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-header-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-header-instagram"></a>
                        </li>
                        <li>
                            <a href="#" class="icon icon-header-whatsapp"></a>
                        </li>
                    </ul>

                    <div class="d-flex header__lk-wrap">
                        <a href="lk.html" class="header__lk-link">Личный кабинет</a>
                        <a href="main.html" class="header__logout icon-logout"></a>
                    </div>
                </div>

                <div class="header__search">
                    <input class="form-control" type="text" id="header-search">
                    <label for="header-search" class="icon icon-header-search"></label>
                </div>
            </div>
        </div>
    </div>
</header>

<nav class="nav">
    <div class="container">
        <ul class="nav__menu">
            <li class="active">
                <a href="main.html">ГЛАВНАЯ</a>
            </li>
            <li class="has-child">
                <a href="about.html">О ФОНДЕ</a>

                <ul class="submenu">
                    <li>
                        <a href="about.html">О фонде</a>
                    </li>
                    <li>
                        <a href="#">Органы управления</a>
                    </li>
                    <li>
                        <a href="#">Документы фонда</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="news-list.html">НОВОСТИ </a>
            </li>
            <li>
                <a href="history.html">ИСТОРИИ УСПЕХА</a>
            </li>
            <li>
                <a href="loan.html">ВИДЫ ЗАЙМОВ</a>
            </li>
            <li>
                <a href="documents.html">ДОКУМЕНТЫ</a>
            </li>
            <li>
                <a href="partners.html">ПАРТНЕРЫ</a>
            </li>
            <li>
                <a href="contact.html">КОНТАКТЫ</a>
            </li>
        </ul>
    </div>
</nav>

<div class="mob-nav">
    <div class="mob-nav__header">
        <div class="mob-nav__back"></div>

        <div class="d-flex header__logos">
            <a href="main.html" class="header__main-logo">
                <img src="static/img/general/footer-logo.png" alt="">
            </a>

            <a href="#" class="header__secondary-logo">
                <img src="static/img/general/secondary-logo.png" alt="">
            </a>
        </div>

        <div class="mob-nav__title">О ФОНДЕ</div>
    </div>
    <div class="mob-nav__body">
        <ul class="mob-nav__menu">
            <li>
                <a href="main.html">ГЛАВНАЯ</a>
            </li>
            <li class="has-child">
                <a href="javascript:void(0)">О ФОНДЕ</a>

                <ul class="mob-nav__submenu">
                    <li>
                        <a href="about.html">О фонде</a>
                    </li>
                    <li>
                        <a href="#">Органы управления</a>
                    </li>
                    <li>
                        <a href="documents-fond.html">Документы фонда</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="news-list.html">НОВОСТИ </a>
            </li>
            <li>
                <a href="history-list.html">ИСТОРИИ УСПЕХА</a>
            </li>
            <li>
                <a href="loan.html">ВИДЫ ЗАЙМОВ</a>
            </li>
            <li>
                <a href="documents.html">ДОКУМЕНТЫ</a>
            </li>
            <li>
                <a href="partners.html">ПАРТНЕРЫ</a>
            </li>
            <li>
                <a href="contact.html">КОНТАКТЫ</a>
            </li>
        </ul>
    </div>
</div>
