.header {
    padding: 35px 0 29px;
    @media screen and (max-width: 768px) {
        padding: 0 0 8px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
        position: relative;
        z-index: 5;
    }
    $f: &;

    &__line {
        display: none;
        padding: 12px 0 9px;
        background-color: $light-brown;
        position: relative;
        margin-bottom: 6px;
        @media screen and (max-width: 768px) {
            display: block;
        }

        .container {
            position: relative;
        }

        h6 {
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: $white-color;
        }
    }

    &__burger {
        display: block;
        position: absolute;
        right: 15px;
        top: -3px;
        background: $white-color;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        width: 40px;
        height: 40px;

        span {
            display: block;
            width: 17px;
            height: 1px;
            background-color: $primary-red;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;

            &:nth-child(1) {
                top: 13px;
            }

            &:nth-child(2) {
                top: 19.5px;
            }

            &:nth-child(3) {
                bottom: 13px;
            }
        }
    }

    &__wrap {
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__logos {
        align-items: flex-end;
    }

    &__main-logo {
        height: 82px;
        margin-right: 21px;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            height: 72px;
            margin-right: 5px;
        }
        @media screen and (max-width: 992px) {
            margin-right: 10px;
        }

        @media screen and (max-width: 768px) {
            height: 68px;
            margin-right: 4px;
        }
        @media screen and (max-width: 576px) {
            height: 43px;
            margin-right: 4px;
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    &__secondary-logo {
        height: 79px;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            height: 70px;
        }

        @media screen and (max-width: 768px) {
            height: 60px;
        }
        @media screen and (max-width: 576px) {
            height: 41px;
        }

        img {
            height: 100%;
            width: auto;
        }
    }

    &__col1 {
        display: flex;
        flex-wrap: wrap;

        h6 {
            width: 100%;
            display: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: $dark-brown;
            margin: 0 0 20px;
            @media screen and (max-width: 992px) {
                display: block;
            }
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        &--contact {
            display: none;
            margin-left: 20px;
            @media screen and (max-width: 992px) {
                display: block;
            }
            @media screen and (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
            @media screen and (max-width: 768px) {
                margin-left: 10px;
            }

            #{$f}__contacts--link:last-child {
                @media screen and (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    &__col2 {
        @media screen and (max-width: 992px) {
            display: none;
        }

        h6 {
            font-weight: bold;
            @extend %text2;
            letter-spacing: 0.01em;
            color: $dark-brown;
            margin: 0 0 10px;
        }
    }

    &__contacts {
        align-items: flex-start;
        justify-content: space-between;

        &--col1 {

        }

        &--col2 {

        }

        &--link {
            display: flex;
            text-decoration: none;
            cursor: pointer;
            align-items: center;
            font-weight: 350;
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            margin-bottom: 6px;
            @media screen and (max-width: 576px) {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 0;
                margin-top: 4px;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                flex-shrink: 0;
                margin-right: 8px;
                display: block;
                @media screen and (max-width: 768px) {
                    margin-right: 6px;
                }
                @media screen and (max-width: 576px) {
                    transform: scale(0.8);
                }
            }

            &:hover {
                text-decoration: none;
                color: $primary-red;

                .icon-header-eye-off {
                    @include bg-svg($icon-header-eye-off-hover)
                }

                .icon-header-phone {
                    @include bg-svg($icon-header-phone-hover)
                }

                .icon-header-letter {
                    @include bg-svg($icon-header-letter-hover)
                }
            }
        }
    }

    &__eye {

    }

    &__col3 {
        width: 324px;
        flex-shrink: 0;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 1200px) {
            width: 280px;
        }
        @media screen and (max-width: 992px) {
            width: 277px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            position: relative;
            margin-top: 10px;
        }
    }

    &__search {
        position: relative;

        .form-control {
            height: 36px;
            background: $white-color;
            border: 1px solid $border-color;
            box-sizing: border-box;
            border-radius: 4px;
            @extend %text1;
            padding: 11px 15px 11px 40px;
            @media screen and (max-width: 768px) {
                padding: 11px 40px 11px 15px;
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }

            &:focus {
                border-color: $light-color2;
            }

            &:focus + label {
                @include bg-svg($icon-header-search-hover);
            }
        }

        .icon {
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 20px;
            height: 20px;
            display: block;
            right: auto;
            left: 11px;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                right: 8px;
                left: auto;
            }

            &:hover {
                @include bg-svg($icon-header-search-hover);
            }
        }
    }

    &__soc-wrap {
        @media screen and (max-width: 992px) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }
    }

    &__soc {
        @include nl;
        display: flex;
        align-items: center;
        @media screen and (max-width: 768px) {
            display: none;
        }

        li {
            position: relative;
            display: block;
            width: 32px;
            height: 32px;

            &:first-child {
                display: none;
                @media screen and (max-width: 992px) {
                    display: block;
                    margin-right: 6px;
                }
            }
        }

        li a {
            width: 24px;
            height: 24px;
            @include position-abs;
            @include pos-center;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &__lk {
        align-items: center;
        text-decoration: none;
        color: $primary-red;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        @media screen and (max-width: 768px) {
            position: absolute;
            right: 0;
            top: -42px;
        }

        span {
            display: block;
            margin-right: 4px;
            flex-shrink: 0;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .icon {
            flex-shrink: 0;
            width: 32px;
            height: 32px;
        }

        &:hover {
            text-decoration: none;
            color: $dark-green;

            .icon {
                @include bg-svg($icon-login-hover);
            }
        }
    }

    &__lk-wrap {
        align-items: center;
        @media screen and (max-width: 992px) {
            margin-bottom: 2px;
        }
        @media screen and (max-width: 768px) {
            position: absolute;
            right: 0;
            top: -42px;
            margin-bottom: 0;
        }
    }

    &__lk-link {
        display: block;
        color: $primary-red;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        margin-right: 4px;
        text-decoration: none;
        transition: all 0.25s;
        @media screen and (max-width: 768px) {
            display: none;
        }

        &:hover {
            text-decoration: none;
            color: $dark-green;
        }
    }

    &__logout {
        flex-shrink: 0;
        width: 32px;
        height: 32px;
        display: block;
        @include bg-svg($icon-logout);

        &:hover {
            cursor: pointer;
            @include bg-svg($icon-logout-hover);
        }
    }
}

.nav {
    padding: 20px 0;
    background-color: $light-brown;
    @media screen and (max-width: 768px) {
        display: none;
    }

    &__menu {
        @include nl;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        li {
            display: block;
            position: relative;

            &.active a:after {
                display: block;
            }
        }

        .has-child {
            padding-right: 20px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                @include bg-svg($icon-menu-arrow);
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .has-child:hover {
            .submenu {
                display: block !important;
            }
        }

        li a {
            display: block;
            position: relative;
            color: $white-color;
            font-weight: bold;
            @extend %text2;
            font-family: $font-PT-sans;
            letter-spacing: 0.06em;
            text-decoration: none;
            transition: all 0.25s;
            @media screen and (max-width: 1200px) {
                font-size: 14px;
            }

            @media screen and (max-width: 992px) {
                font-size: 12px;
            }

            &:hover {
                color: $dark-green;
            }

            &:after {
                content: '';
                display: none;
                width: 100%;
                border-bottom: 3px solid $dark-green;
                position: absolute;
                bottom: -20px;
                left: 0;
            }
        }
    }
}

.submenu {
    position: absolute;
    width: 270px;
    background: $white-color;
    z-index: 3;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 4px 4px;
    @include nl;
    margin: 0;
    left: 0;
    top: 44px;
    padding: 16px 0 10px;
    box-sizing: border-box;
    height: auto;
    display: none;
    @media screen and (max-width: 1200px) {

    }

    &:before {
        content: '';
        display: block;
        height: 20px;
        width: 100%;
        top: -20px;
        left: 0;
        position: absolute;
    }

    &:hover {
        display: block;
    }

    li {
        &:last-child {
            margin-bottom: 0;
        }
    }

    li a {
        padding: 8px 24px;
        color: $text-color;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        display: block;
        font-family: $font-PT-sans;
        transition: all 0.25s;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            color: $primary-red;
            background: $light-brown-hover;
        }
    }
}

.mob-nav {
    position: fixed;
    top: 0;
    right: -400px;
    z-index: 100;
    background: $white-color;
    height: 100%;
    width: 305px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.25s;
    $f: &;

    &.show {
        right: 0;
    }

    &__header {
        border-bottom: 4px solid rgba(195, 147, 103, 0.15);
        padding: 24px 15px;
        display: flex;
        align-items: center;
        height: 120px;
        box-sizing: border-box;
    }

    &__title {
        margin-right: 0;
        margin-left: auto;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $dark-brown;
        text-transform: uppercase;
        display: none;
    }

    .header__main-logo {
        width: 150px;
        height: 76px;
        margin-right: 0;
    }
    .header__secondary-logo {
        width: 69px;
        height: 70px;
    }

    &__back {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        cursor: pointer;
        @include bg-svg($icon-back);
    }

    &__body {
        padding: 28px 24px;
    }

    &__menu {
        @include nl;
        padding: 0;
        margin: 0;

        li {
            display: block;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            width: max-content;
            display: flex;
            flex-direction: column;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            color: $dark-brown;
            text-align: left;
            letter-spacing: 0.06em;
            transition: all 0.25s;
            text-transform: uppercase;
            position: relative;

            &:hover {
                text-decoration: none;
                color: $primary-red;
            }
        }

        .has-child a:before {
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            position: absolute;
            top: -1px;
            right: -24px;
            @include bg-svg($header-mob-arrow);
        }

        .has-child a:hover {
            &:before {
                @include bg-svg($header-mob-arrow-hover);
            }
        }
    }

    &__submenu {
        display: none;
        @include nl;

        li {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li a {
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            color: $text-color;
            transition: all 0.25s;
            text-transform: none;

            &:before {
                display: none !important;
            }

            &:hover {
                color: $primary-red;
                text-decoration: none;
            }
        }
    }

    &.submenu-open {
        #{$f}__title {
            display: block;
        }

        .header__logos {
            display: none !important;
        }

        #{$f}__menu li:not(.has-child) {
            display: none;
        }

        #{$f}__menu li.has-child > a {
            display: none;
        }

        #{$f}__submenu {
            display: block;

            li {
                display: block !important;
            }

            a {
                display: block;
            }
        }
    }
}
