.form-group {
    margin-bottom: 24px;
    position: relative;

    &.has-error {
        .form-control {
            border-color: $primary-red;
        }
        label {
            color: $primary-red;
        }
        .select2-container {
            .select2-selection--single {
                border: 1px solid $primary-red;
            }
        }
    }

    label {
        display: block;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
        color: $text-color;
        @media screen and (max-width: 768px) {
            letter-spacing: -0.35px;
            font-size: 16.5px;
        }
        @media screen and (max-width: 576px) {
            letter-spacing: 0;
            font-size: 16px;
            line-height: 20px;
        }
    }

    .form-control {
        height: 54px;
        width: 100%;
        background: $white-color;
        border: 1px solid $border-color;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 11px 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.005em;
        transition: all 0.25s;
        color: $text-color;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            border-color: $text-color2;
        }

        &::placeholder {
            color: $light-color2;
        }
    }
}

.form-date {
    position: relative;

    .date-input {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        padding: 16px 20px;
    }

    &__icon {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 45px;
        right: 12px;
        @include bg-svg($input-calendar);
        @media screen and (max-width: 576px) {
            top: 42px;
        }
    }
}

.calc-form {
    .btn-main {
        margin-left: auto;
    }

    .form-group {
        label {
            margin-bottom: 16px;
        }
    }

    .form-date .form-date__icon {
        top: 53px;

        @media screen and (max-width: 576px) {
            top: 50px;
        }
    }

    &__graphic {
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $dark-green;
        @extend %text2;
        cursor: pointer;
        padding-top: 35px;
        @media screen and (max-width: 768px) {
            padding-top: 26px;
        }

        &.active {
            .icon-arrow-down-green{
                transform: rotate(180deg);
            }
        }

        .icon-calendar-green {
            width: 28px;
            height: 28px;
            flex-shrink: 0;
            margin-right: 12px;
        }

        .icon-down-arrow-green {
            width: 28px;
            height: 28px;
            margin-left: 4px;
            flex-shrink: 0;
        }
    }
}

.form-group {
    .select2-container {
        background: $white-color;
        box-sizing: border-box;
        border-radius: 4px !important;
        width: 100% !important;
        height: 54px;
        border: none;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
            border-radius: 4px;
        }

        &.select2-container--open, &.select2-container--focus {
            outline: none;
            box-shadow: none;
            border-radius: 4px;
        }

        &.select2-container--open {
            .select2-selection__arrow {
                transform: rotate(180deg);
            }
        }

        .select2-selection--single {
            background: $white-color;
            border: 1px solid $border-color;
            box-sizing: border-box;
            width: 100%;
            height: 54px;
            border-radius: 4px !important;

            &[aria-expanded="true"] {
                border-color: $light-brown;
                border-radius: 4px !important;

                .select2-selection__arrow b {
                    transform: rotate(180deg);
                }
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
                border-radius: 4px;
            }
        }

        .select2-selection__rendered {
            height: 52px;
            line-height: 52px !important;
            @extend %text2;
            color: $text-color !important;
            padding-left: 20px !important;
        }

        .select2-selection__arrow {
            height: 24px !important;
            width: 24px !important;
            @include bg-svg($icon-select-arrow);
            top: 0;
            right: 14px !important;
            bottom: 0;
            margin: auto;

            b {
                display: none;
            }
        }
    }
}

.form-range {
    margin-top: 20px;

    .slider {
        width: 100% !important;
        height: 24px !important;
    }

    .slider-track {
        height: 4px !important;
        background-color: $light-brown !important;
        background-image: none;
        box-shadow: none;
        margin-top: 0 !important;
    }

    .slider-selection {
        background-color: $light-brown !important;
        background-image: none;
        box-shadow: none;
    }

    .slider-handle {
        width: 24px !important;
        height: 24px !important;
        box-sizing: border-box;
        border-radius: 50%;
        background-color: $white-color !important;
        border: 4px solid $light-brown !important;
        background-image: none !important;
    }

    &__labels {
        justify-content: space-between;

        p {
            margin: 0;
            font-size: 12px;
            line-height: 14px;
            color: $text-color2;
        }
    }

    label {
        display: flex !important;
        align-items: center;

        span {
            display: block;
            flex-shrink: 0;
            margin-left: 25px;
            font-weight: 800;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.005em;
            color: $dark-brown;
            @media screen and (max-width: 576px) {
                font-size: 18px;
            }
        }
    }
}


.select2-dropdown {
    background: $white-color;
    border: none !important;
    border-top: none !important;
    padding: 10px 0 !important;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.select2-results {
    &__option {
        text-align: left;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: $text-color !important;
        padding: 8px 20px !important;
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: rgba(195, 147, 103, 0.1) !important;
        color: $primary-red !important;
    }
}

.graph-table {
    border: 1px solid $border-color;
    border-bottom: none;
    margin-bottom: 30px;
    display: none;
    &.show {
        display: block;
    }

    $f: &;

    &__row {
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        border-bottom: 1px solid $border-color;
        color: $text-color;
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }

        p {
            color: $text-color;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
        }

        span {
            display: none;
            @media screen and (max-width: 768px) {
                display: block;
                font-weight: bold;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    &__header {
        background-color: rgba(195, 147, 103, 0.2);
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        @media screen and (max-width: 768px) {
            display: none !important;
        }

        p {
            color: $text-color;
            font-size: 16px;
            line-height: 20px;
            margin: 13px 0;
        }

        #{$f}__col4, #{$f}__col5, #{$f}__col6 {
            border-top: 1px solid $border-color;
        }
    }

    &__col1 {
        width: 74px;
        flex-shrink: 0;
        align-self: stretch;
        padding: 13px 0;
        text-align: center;
        border-right: 1px solid $border-color;
        font-size: 16px;
        line-height: 20px;
        @media screen and (max-width: 992px) {
            width: 51px;
        }
        @media screen and (max-width: 768px) {
            background-color: rgba(195, 147, 103, 0.2);
            border-bottom: 1px solid $border-color;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-right: none;
            padding: 8px 12px;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        span {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__col2 {
        width: 140px;
        flex-shrink: 0;
        padding: 13px 0;
        align-self: stretch;
        border-right: 1px solid $border-color;
        @media screen and (max-width: 992px) {
            width: 95px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 8px 12px;
            border-right: none;
            border-bottom: 1px solid $border-color;
        }
    }

    &__col3 {
        flex-grow: 1;
        border-right: 1px solid $border-color;
        @media screen and (max-width: 768px) {
            border-right: none;
            display: flex;
            flex-direction: column;
            padding: 8px 12px;
            align-items: flex-start;
            width: 100%;
            border-bottom: 1px solid $border-color;
            .d-flex {
                width: 100%;
            }
        }
    }

    &__col4 {
        width: calc(100% / 3);
        flex-shrink: 0;
        padding: 13px 0;
        align-self: stretch;
        border-right: 1px solid $border-color;
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            border-right: none;
        }
    }

    &__col5 {
        width: calc(100% / 3);
        flex-shrink: 0;
        padding: 13px 0;
        align-self: stretch;
        border-right: 1px solid $border-color;
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 0 8px;
            border-right: none;
        }
    }

    &__col6 {
        width: calc(100% / 3);
        flex-shrink: 0;
        padding: 13px 0;
        align-self: stretch;
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            border-right: none;
        }
    }

    &__col7 {
        width: 266px;
        flex-shrink: 0;
        padding: 13px 0;
        align-self: stretch;
        @media screen and (max-width: 992px) {
            width: 161px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 8px 12px;
            span {
                text-align: left;
            }
        }
    }
}
