<div class="calc-form">
    <form>
        <div class="row">
            <div class="col-xl-6">
                <div class="form-group">
                    <label>Вид займа:</label>
                    <select class="select2 selectTypeTerm">
                        <option></option>
                        <option>Микрозайм</option>
                        <option>Микрозайм для моногорода</option>
                    </select>
                </div>

                <div class="form-group form-range">
                    <label for="rangeSum">Сумма займа: <span>1 000 000 рублей</span></label>

                    <input id="rangeSum" data-slider-id='rangeSumSlider' type="text" data-slider-min="30000"
                           data-slider-max="5000000" data-slider-step="1000" data-slider-value="1000000"/>

                    <div class="d-flex form-range__labels">
                        <p>30 000 руб</p>
                        <p>5 000 000 руб</p>
                    </div>
                </div>

                <div class="form-group form-range">
                    <label for="rangeTerm">Срок займа: <span>12 месяцев</span></label>

                    <input id="rangeTerm" data-slider-id='rangeTermSlider' type="text" data-slider-min="3"
                           data-slider-max="36" data-slider-step="1" data-slider-value="12"/>

                    <div class="d-flex form-range__labels">
                        <p>3 мес</p>
                        <p>36 мес</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Процентная ставка годовых, %</label>
                            <input type="text" class="form-control" value="4,25%">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Отсрочка, мес:</label>
                            <input type="text" class="form-control" value="0">
                        </div>
                    </div>
                </div>

                <div class="row justify-content-lg-end justify-content-start">
                    <div class="col-sm-6">
                        <div class="form-group form-date">
                            <label>Дата выдачи займа:</label>
                            <input class="form-control date-input" placeholder="ДД.ММ.ГГГГ">
                            <div class="form-date__icon"></div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">
                    <div class="col-sm-6">
                        <div class="calc-form__graphic">
                            <div class="icon icon-calendar-green"></div>
                            <div>График погашения</div>
                            <div class="icon icon-arrow-down-green"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="graph-table">
                            <div class="d-flex graph-table__row graph-table__header">
                                <div class="graph-table__col1">№ п/п</div>
                                <div class="graph-table__col2">Дата платежа</div>
                                <div class="graph-table__col3">
                                    <p>Сумма к уплате</p>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">Проценты</div>
                                        <div class="graph-table__col5">Основной долг</div>
                                        <div class="graph-table__col6">Итого</div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">Остаток основного долга</div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 1</span>
                                    <p>1</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 2</span>
                                    <p>2</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 3</span>
                                    <p>3</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 4</span>
                                    <p>4</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 5</span>
                                    <p>5</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 6</span>
                                    <p>6</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>

                            <div class="d-flex graph-table__row">
                                <div class="graph-table__col1">
                                    <span>№ п/п 7</span>
                                    <p>7</p>
                                </div>
                                <div class="graph-table__col2">
                                    <span>Дата платежа</span>
                                    <p>11.02.2020</p>
                                </div>
                                <div class="graph-table__col3">
                                    <span>Сумма к оплате</span>
                                    <div class="d-flex flex-column flex-md-row">
                                        <div class="graph-table__col4">
                                            <span>Проценты</span>
                                            <p>6 721, 31 руб</p>
                                        </div>
                                        <div class="graph-table__col5">
                                            <span>Основной долг</span>
                                            <p>83 333, 00 руб</p>
                                        </div>
                                        <div class="graph-table__col6">
                                            <span>Итого</span>
                                            <p>90 054, 31 руб</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="graph-table__col7">
                                    <span>Остаток <br>основного долга</span>
                                    <p>916 667,00 руб</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-main">Получить займ</button>
    </form>
</div>
