.reg {
    padding-bottom: 100px;
    @media screen and (max-width: 992px) {
        padding-bottom: 80px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 60px;
    }

    &__radio {
        margin-bottom: 40px;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 10px;
        }
    }
}

.form-reg {
    display: none;
    &.show {
        display: block;
    }
}

.form-radio {
    padding: 0;
    margin-right: 50px;
    @media screen and (max-width: 992px) {
        margin-right: 32px;
    }
    @media screen and (max-width: 768px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 16px;
        line-height: 20px;
        color: $text-color2;
        display: block;
        margin-bottom: 0;

        a {
            color: $dark-green;
        }

        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
        }

        &:after {
            width: 16px;
            height: 16px;
            border: 1px solid $text-color2;
            box-sizing: border-box;
            border-radius: 50%;
            top: 2px;
            left: 2px;
        }

        &:before {
            width: 8px;
            height: 8px;
            background-color: $primary-red;
            box-sizing: border-box;
            border-radius: 50%;
            top: 6px;
            left: 6px;
            display: none;
        }
    }

    input:checked + label {
        color: $text-color;
    }

    input:checked + label:before {
        display: block;
    }

    input:checked + label:after {
        border-color: $primary-red;
    }

    &:last-child {
        margin-right: 0;
    }
}

.form-checkbox {
    margin-top: 20px;
    @media screen and (max-width: 576px) {
        margin-top: 10px;
    }

    input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
    }

    label {
        position: relative;
        padding-left: 44px;
        cursor: pointer;
        font-size: 16px !important;
        line-height: 20px;
        color: $text-color;
        display: block;

        span {
            color: $primary-red;
        }

        p {
            margin: 8px 0 0;
            color: $light-color2;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
        a {
            color: $dark-green;
        }

        &:after, &:before {
            content: '';
            display: block;
            position: absolute;
        }

        &:after {
            width: 24px;
            height: 24px;
            border: 1px solid $border-color;
            box-sizing: border-box;
            border-radius: 1px;
            top: 0;
            left: 0;
        }

        &:before {
            height: 16px;
            width: 8px;
            border-right: 1px solid $primary-red;
            border-bottom: 1px solid $primary-red;
            transform: rotate(45deg);
            top: 2px;
            left: 8px;
            display: none;
        }
    }

    input:checked + label:before {
        display: block;
    }

    input:checked + label:after {
        border-color: $primary-red;
    }
}

.text-success {
    display: flex;
    color: $dark-green !important;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    align-items: flex-start;

    .icon {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin-right: 12px;
        margin-top: -2px;
    }

    .icon-check {
        @include bg-svg($circle-check);
    }

    .icon-load {
        @include bg-svg($icon-load);
    }
}
