{{> header/header}}

<div>
    <div class="reg pt-5">
        <div class="container">
            <h3 class="block-title">Регистрация</h3>

            <div class="d-flex reg__radio">
                <div class="form-check form-radio">
                    <input type="radio" class="form-check-input" name="registration-radio" id="radio1" checked
                           data-form="form1">
                    <label for="radio1">Юр.лицо</label>
                </div>
                <div class="form-check form-radio">
                    <input type="radio" class="form-check-input" name="registration-radio" id="radio2"
                           data-form="form2">
                    <label for="radio2">Индивидуальный предприниматель</label>
                </div>
                <div class="form-check form-radio">
                    <input type="radio" class="form-check-input" name="registration-radio" id="radio3"
                           data-form="form3">
                    <label for="radio3">Физ.лицо</label>
                </div>
            </div>

            <div class="form-reg show" id="form1">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="form-group has-error">
                            <label>Полное наименование</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="form-group">
                            <label for="radio3">Краткое наименование</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="radio3">ОГРН</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="radio3">ОКВЭД</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-10">
                        <div class="row">
                            <div class="col-lg-12 col-md-5">
                                <div class="form-group form-date">
                                    <label>Дата регистрации</label>
                                    <input class="form-control date-input" placeholder="ДД.ММ.ГГГГ">
                                    <div class="form-date__icon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="radio3">ИНН</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="radio3">КПП</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label for="radio3">Номер телефона</label>
                            <input type="tel" class="form-control input-phone" placeholder="+7 (_____) _____-___-___">
                        </div>

                        <div class="form-group">
                            <label for="radio3">E-mail</label>
                            <input type="email" class="form-control" placeholder="mymail@example.com">
                        </div>

                        <div class="form-group">
                            <label for="radio3">Пароль</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="radio3">Пароль еще раз</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group form-checkbox mb-5">
                            <input type="checkbox" class="" id="checkbox">
                            <label for="checkbox">Даю согласие на обработку персональных данных<span>*</span>
                                <p>Нажимая кнопку Зарегистрироваться, я выражаю свое согласие на обработку своих
                                    персональных данных</p>
                            </label>
                        </div>

                        <button class="btn btn-main">Зарегистрироваться</button>
                    </div>
                </div>
            </div>

            <div class="form-reg" id="form2">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="form-group">
                            <label>Фамилия Имя Отчество</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label>ИНН</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label>ОГРНИП</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label for="radio3">Номер телефона</label>
                            <input type="tel" class="form-control" placeholder="+7 (_____) _____-___-___">
                        </div>

                        <div class="form-group">
                            <label for="radio3">E-mail</label>
                            <input type="email" class="form-control" placeholder="mymail@example.com">
                        </div>

                        <div class="form-group">
                            <label for="radio3">Пароль</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="radio3">Пароль еще раз</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group form-checkbox mb-5">
                            <input type="checkbox" class="" id="checkbox2">
                            <label for="checkbox2">Даю согласие на обработку персональных данных<span>*</span>
                                <p>Нажимая кнопку Зарегистрироваться, я выражаю свое согласие на обработку своих
                                    персональных данных</p>
                            </label>
                        </div>

                        <button class="btn btn-main">Зарегистрироваться</button>
                    </div>
                </div>
            </div>

            <div class="form-reg" id="form3">
                <div class="row">
                    <div class="col-xl-6 col-lg-8 col-md-10">
                        <div class="form-group">
                            <label>Фамилия Имя Отчество</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label>ИНН</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label>СНИЛС</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-5">
                        <div class="form-group">
                            <label for="radio3">Номер телефона</label>
                            <input type="tel" class="form-control" placeholder="+7 (_____) _____-___-___">
                        </div>

                        <div class="form-group">
                            <label for="radio3">E-mail</label>
                            <input type="email" class="form-control" placeholder="mymail@example.com">
                        </div>

                        <div class="form-group">
                            <label for="radio3">Пароль</label>
                            <input type="password" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="radio3">Пароль еще раз</label>
                            <input type="password" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <div class="form-group form-checkbox mb-5">
                            <input type="checkbox" class="" id="checkbox3">
                            <label for="checkbox3">Даю согласие на обработку персональных данных<span>*</span>
                                <p>Нажимая кнопку Зарегистрироваться, я выражаю свое согласие на обработку своих
                                    персональных данных</p>
                            </label>
                        </div>

                        <button class="btn btn-main">Зарегистрироваться</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
