{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Регистрация</li>
            </ul>
        </div>
    </div>

    <div class="reg">
        <div class="container">
            <h2 class="block-title">Регистрация</h2>

            <div class="text-success">
                <div class="icon icon-check"></div>
                На ваш e-mail отправлено письмо с подтверждением регистрации.
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
