{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="microloans.html">Виды микрозаймов</a>
                </li>
                <li>Микрозайм для моногорода</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h3 class="block-title">Микрозайм для моногорода</h3>
            <div class="loans mb-0">
                <h4>Микрозайм для начинающих субъектов малого и среднего предпринимательства</h4>
                <div class="loans__table">
                    <div class="d-flex loans__table--row">
                        <div class="loans__table--col1">Сумма микрозайма</div>
                        <div class="loans__table--col2">100 - 2000 тыс.руб.</div>
                    </div>
                    <div class="d-flex loans__table--row">
                        <div class="loans__table--col1">Ставка, % годовых</div>
                        <div class="loans__table--col2">5,5%</div>
                    </div>
                    <div class="d-flex loans__table--row">
                        <div class="loans__table--col1">Срок, мес</div>
                        <div class="loans__table--col2">7 - 24 месяцев</div>
                    </div>
                </div>


                <h4>Оформление и условия займа</h4>
                <p>Свидетельством заключения договора займа может выступать расписка, данная заемщиком, которая
                    подтверждает получение им некоторой денежной суммы или других ценностей.</p>
                <p>Соглашение может быть устным при условии, что заимодавец – не юридическое лицо и размер займа не
                    превышает минимальный размер оплаты труда (МРОТ) в 10 раз. В противном случае сделка оформляется
                    в письменной форме. В договоре указывается общая сумма передаваемых средств либо количество
                    ценных предметов, срок возврата и размер вознаграждения, если таковое предусматривается.</p>


                <div class="d-flex flex-column flex-sm-row loans__btn mt-4 pt-0 pt-sm-3">
                    <a href="loans.html" class="btn btn-main">Оформить заявку</a>
                    <a href="#" class="btn btn-main-border">Список документов</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
