.loans {
    margin-bottom: 48px;
    @media screen and (max-width: 576px) {
        margin-bottom: 40px;
    }

    h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin: 0 0 24px;
        color: $dark-brown;
        font-family: $font-Roboto;
        @media screen and (max-width: 576px) {
            font-family: $font-circle;
            font-weight: 800;
            font-size: 26px;
        }
    }

    p {
        @extend %text2;
        margin-bottom: 6px;
        color: $text-color;
        @media screen and (max-width: 576px) {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__table {
        margin-bottom: 40px;
        @media screen and (max-width: 576px) {
            margin-bottom: 30px;
        }

        &--row {
            align-items: center;
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 20px;
            color: $text-color;
            @media screen and (max-width: 576px) {
                flex-direction: column;
                margin-bottom: 24px;
                font-size: 16px;
                align-items: flex-start;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &--col1 {
            width: 225px;
            flex-shrink: 0;
            font-weight: bold;
            @media screen and (max-width: 576px) {
                width: 100%;
                margin-bottom: 12px;
            }
        }

        &--col2 {
            font-size: 16px;
            font-weight: 400;
        }
    }
    .btn {
        margin-right: 30px;
        @media screen and (max-width: 768px) {
            width: 245px;
        }
        @media screen and (max-width: 576px) {
            width: 264px;
            margin: 0 auto 30px;
        }

        &:last-child {
            margin-right: 0;
            @media screen and (max-width: 576px) {
                margin: 0 auto;
            }
        }
    }

    &__btn {
        .btn {
            margin-right: 30px;
            @media screen and (max-width: 768px) {
                width: 245px;
            }
            @media screen and (max-width: 576px) {
                width: 264px;
                margin: 0 auto 30px;
            }

            &:last-child {
                margin-right: 0;
                @media screen and (max-width: 576px) {
                    margin: 0 auto;
                }
            }
        }
    }
}
