{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Виды микрозаймов</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h3 class="block-title">Виды микрозаймов</h3>

            <div class="row">
                <div class="col-xl-6 col-lg-8 col-md-10">
                    <div class="loans">
                        <h4>Микрозайм</h4>
                        <div class="loans__table">
                            <div class="d-flex loans__table--row">
                                <div class="loans__table--col1">Сумма микрозайма</div>
                                <div class="loans__table--col2">100 - 2000 тыс.руб.</div>
                            </div>
                            <div class="d-flex loans__table--row">
                                <div class="loans__table--col1">Ставка, % годовых</div>
                                <div class="loans__table--col2">5,5%</div>
                            </div>
                            <div class="d-flex loans__table--row">
                                <div class="loans__table--col1">Срок, мес</div>
                                <div class="loans__table--col2">7 - 24 месяцев</div>
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-sm-row justify-content-between">
                            <a href="loans.html" class="btn btn-main-border">Подробнее</a>
                            <a href="#" class="btn btn-main">Оформить заявку</a>
                        </div>
                    </div>

                    <div class="loans">
                        <h4>Микрозайм для моногорода</h4>
                        <div class="loans__table">
                            <div class="d-flex loans__table--row">
                                <div class="loans__table--col1">Сумма микрозайма</div>
                                <div class="loans__table--col2">100 - 2000 тыс.руб.</div>
                            </div>
                            <div class="d-flex loans__table--row">
                                <div class="loans__table--col1">Ставка, % годовых</div>
                                <div class="loans__table--col2">5,5%</div>
                            </div>
                            <div class="d-flex loans__table--row">
                                <div class="loans__table--col1">Срок, мес</div>
                                <div class="loans__table--col2">7 - 24 месяцев</div>
                            </div>
                        </div>

                        <div class="d-flex flex-column flex-sm-row justify-content-between">
                            <a href="loans.html" class="btn btn-main-border">Подробнее</a>
                            <a href="#" class="btn btn-main">Оформить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-calc pt-0">
            <div class="container">
                <h3 class="block-title">Подобрать параметры займа</h3>
                {{> main/calc-form/calc-form}}
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
