.login {
    padding-top: 48px;

    &__form {
        width: 264px;
        @media screen and (max-width: 768px) {
            width: 290px;
        }

        .link-password {
            margin-top: -16px;
            color: $dark-green;
            display: block;
            text-decoration: none;
            font-weight: 350;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 32px;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $primary-red;
            }
        }

        .btn {
            width: 100%;
        }
    }

    &__footer {
        margin-top: 44px;
        padding-top: 16px;
        border-top: 4px solid rgba(195, 147, 103, 0.15);

        @media screen and (max-width: 768px) {
            margin-top: 32px;
        }

        .link-gray, .link-red {
            display: block;
            text-decoration: none;
            cursor: pointer;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
            }
        }

        .link-gray {
            color: $text-color2;
            margin-bottom: 8px;

            &:hover {
                color: $dark-green;
            }
        }

        .link-red {
            color: $primary-red;

            &:hover {
                color: $dark-green;
            }
        }
    }
}
