{{> header/header}}

<div>
    <div class="page login">
        <div class="container">
            <h5 class="p1">Чтобы войти в личный кабинет - авторизуйтесь:</h5>

            <div class="login__form">
                <form>
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Пароль</label>
                        <input type="password" class="form-control">
                    </div>
                    <a href="#" class="link-password">Забыли пароль?</a>

                    <button type="submit" class="btn btn-main">Войти</button>
                </form>

                <div class="login__footer">
                    <a href="#" class="link-gray">Нет аккаунта?</a>
                    <a href="registration.html" class="link-red">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
