{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Вход выполнен</li>
            </ul>
        </div>
    </div>

    <div class="reg">
        <div class="container">
            <h2 class="block-title">Вход выполнен</h2>

            <div class="text-success">
                <div class="icon icon-load"></div>
                Сейчас вы будете перенаправлены на главную страницу.
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
