.main-page-wrap {
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../img/general/bg-main-image.png");
}

.main-banner {
    height: 570px;
    position: relative;

    @media screen and (max-width: 992px) {
        height: 495px;
    }

    &__pagination {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 24px;
        top: auto;
        margin: auto;
    }

    .swiper-pagination {
        &-bullets {
        }

        &-bullet {
            margin: 0 6px;
            width: 24px;
            height: 24px;
            background-color: $light-brown;
            opacity: 0.35;
            border-radius: 2px;
            transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
            transition: all 0.25s;
            cursor: pointer;

            &:hover {
                background-color: $primary-red;
            }

            &:focus, &:active {
                outline: none;
                box-shadow: none;
            }
        }

        &-bullet-active {
            opacity: 1;
            background-color: $primary-red;
        }
    }

    &__slider {
        height: 100%;
    }

    &__slide {
        height: 100%;
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    &__image {
        @include full;
        @include position-abs;
        z-index: 1;
        img {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__content {
        position: relative;
        z-index: 2;
    }

    .desktop-img {
        display: block;
        margin: auto;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    .laptop-img {
        display: none;
        @media screen and (max-width: 992px) {
            display: block;
        }
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    .mobile-img {
        display: none;
        @media screen and (max-width: 576px) {
            display: block;
            object-position: right bottom;
        }
    }
}

.slider1 {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    @media screen and (max-width: 992px) {
        padding-bottom: 60px;
    }
    @media screen and (max-width: 576px) {
        padding-bottom: 0;
        padding-top: 24px;
        justify-content: flex-start;
    }

    .h1 {
        font-weight: 800;
        font-size: 68px;
        line-height: 64px;
        color: $dark-brown;
        margin-bottom: 24px;
        @media screen and (max-width: 992px) {
            font-size: 48px;
            line-height: 46px;
        }
        @media screen and (max-width: 576px) {
            font-size: 28px;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }

    p {
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: $text-color;
        margin: 0 0 60px;
        @media screen and (max-width: 992px) {
            font-size: 20px;
            line-height: 24px;
            margin: 0 0 32px;
        }
        @media screen and (max-width: 576px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }
}

.main-advantages {
    padding: 59px 0 51px;
    background: rgba(215, 179, 105, 0.6);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/general/pattern.png");

    $f: &;

    @media screen and (max-width: 992px) {
        padding: 48px 0;
    }
    @media screen and (max-width: 768px) {
        padding: 38px 0;
    }

    &__wrap {
        align-items: center;
        justify-content: space-around;
        @media screen and (max-width: 1200px) {
            justify-content: space-between;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        p {
            @extend %text3;
            color: $text-color;
            margin: 0;
            @media screen and (max-width: 992px) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        @media screen and (max-width: 768px) {
            width: 236px;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__icon {
        width: 74px;
        height: 74px;
        flex-shrink: 0;
        margin-right: 20px;
        @media screen and (max-width: 1200px) {
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
        @media screen and (max-width: 992px) {
            width: 48px;
            height: 48px;
            margin-right: 8px;
        }
        @media screen and (max-width: 768px) {
            margin-right: 12px;
        }

        img {
            width: 100%;
        }
    }

    &.advantages {
        background-color: $white-color;
        background-image: none;
        padding: 0;
        margin-bottom: 76px;

        h3 {
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.005em;
            color: $dark-brown;
            margin-bottom: 8px;
        }

        #{$f}__item {
            @media screen and (max-width: 768px) {
                align-items: center;
                width: 100%;
            }
            @media screen and (max-width: 576px) {
                align-items: flex-start;
                width: 236px;
            }
        }

        #{$f}__wrap {
            padding: 24px 12px;
            border-bottom: 4px solid rgba(195, 147, 103, 0.15);
            justify-content: space-between;
            @media screen and (max-width: 1200px) {
                padding: 24px 0;
            }
            @media screen and (max-width: 768px) {
                align-items: flex-start;

                br {
                    display: none;
                }
            }
            @media screen and (max-width: 576px) {
                align-items: center;

                br {
                    display: block;
                }
            }
        }
    }
}

.main-calc {
    margin-bottom: 64px;
    padding-top: 60px;
}

.main-news {
    margin-bottom: 64px;
    $f: &;

    &__item {
        position: relative;
        cursor: pointer;
        text-decoration: none;
        display: block;
        margin-bottom: 24px;

        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);

            #{$f}__title p {
                color: $dark-green;
            }

            #{$f}__image img {
                transform: scale(1.1);
            }
        }

        &:active {
            box-shadow: 0px 0px 28px rgba(57, 57, 57, 0.15);
        }
    }

    &__image {
        position: relative;
        overflow: hidden;
        padding-bottom: 75.19%;
        border-radius: 4px 4px 0px 0px;

        img {
            @include full-img;
            @include full;
            @include position-abs;
            transition: all 0.5s;
        }
    }

    &__date {
        position: absolute;
        left: 0;
        bottom: 20px;
        background-color: $sand-color;
        padding: 6px 12px;
        color: $white-color;
        font-size: 16px;
        line-height: 20px;
        font-weight: 350;
        font-family: $font-PT-sans;
        padding-left: 38px;
        border-radius: 0 4px 4px 0;
        z-index: 2;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            @include bg-svg($icon-calendar-white);
            left: 12px;
            margin: auto;
        }
    }

    &__title {
        padding: 20px 16px;
        height: 139px;
        background-color: $white-color;
        @media screen and (max-width: 576px) {
            height: 128px;
        }

        p {
            margin: 0;
            @extend %text1;
            color: $text-color;
            transition: all 0.5s;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;

            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

.main-history {
    margin-bottom: 64px;

    &__item {
        @media screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__slider-wrap {
        position: relative;
        margin-bottom: 48px;
    }

    .swiper-slide {
        width: 525px;
        margin-right: 30px;
        @media screen and (max-width: 1200px) {
            width: 525px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__prev, &__next {
        display: none;
        width: 40px;
        height: 40px;
        background: $white-color;
        opacity: 0.6;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        @media screen and (max-width: 1200px) {
            display: block;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            @include pos-center;
            width: 24px;
            height: 24px;
            @include bg-svg($arrow-breadcrumbs);
        }

        &:hover {
            opacity: 1;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

            &:after {
                @include bg-svg($arrow-breadcrumbs-hover);
            }
        }

        &:focus {
            outline: none;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        }
    }

    &__prev {
        left: -20px;
        @media screen and (max-width: 576px) {
            left: 0;
        }

        &:after {
            transform: rotate(180deg);
        }
    }

    &__next {
        right: -20px;
        @media screen and (max-width: 576px) {
            right: 0;
        }
    }

    &__image {
        width: 165px;
        height: 220px;
        flex-shrink: 0;
        margin-right: 30px;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 576px) {
            width: 155px;
            height: 207px;
        }

        img {
            @include full-img;
            @include full;
            @include position-abs;
        }
    }

    &__content {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 576px) {
            text-align: center;
            padding: 24px 0 0;
        }

        h5 {
            margin-bottom: 4px;
            color: $dark-brown;
            @media screen and (max-width: 576px) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 2px;
            }
        }

        h6 {
            color: $dark-brown;
            margin-bottom: 18px;
            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 16px;
            }
        }

        p {
            color: $text-color;
            margin: 0;
            width: 100%;
            @extend %text2;
            max-height: 96px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 992px) {
                font-size: 16px;
                line-height: 23px;
                max-height: 92px;
            }
            @media screen and (max-width: 576px) {
                text-align: left;
                font-size: 14px;
                line-height: 20px;
                max-height: 80px;
            }
        }
    }

    &__info {
        margin-bottom: 0;
        margin-top: auto;
        justify-content: space-between;
        align-items: center;

        time {
            color: $light-color2;
            @extend %text1;
            line-height: 20px;
            font-weight: 350;
        }
    }

    &__more {
        color: $light-color2;
        font-weight: 350;
        text-decoration: none;
        position: relative;
        @extend %text1;
        padding-right: 24px;
        transition: all 0.25s;

        &:after {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2px;
            right: 0;
            @include bg-svg($arrow-more);
        }

        &:hover {
            text-decoration: none;
            color: $dark-green;

            &:after {
                @include bg-svg($arrow-more-green);
            }
        }
    }
}

.main-partners {
    overflow-x: hidden;
    margin-bottom: 100px;
    @media screen and (max-width: 992px) {
        margin-bottom: 80px;
    }
    @media screen and (max-width: 768px) {
        margin-bottom: 60px;
    }

    &__slider {
        @media screen and (max-width: 992px) {
            width: calc(100% - 70px);
            margin: 0 auto;
        }
        @media screen and (max-width: 576px) {
            width: calc(100% - 28px);
        }

        &--wrap {
            position: relative;
        }
    }

    &__slide {
        width: 165px;
        height: 123px;
        background: $white-color;
        border: 1px solid $light-brown;
        box-sizing: border-box;
        border-radius: 4px;
        position: relative;
        @media screen and (max-width: 992px) {
            width: 136px;
            height: 102px;
        }

        img {
            max-height: 100px;
            max-width: 120px;
            position: absolute;
            @include pos-center;
            @media screen and (max-width: 992px) {
                max-height: 60px;
                max-width: 90px;
            }
        }
    }

    &__prev, &__next {
        height: 48px;
        width: 48px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 4px;

        @media screen and (max-width: 576px) {
            height: 40px;
            width: 40px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        }

        &:after {
            content: '';
            height: 100% !important;
            width: 100% !important;
            @include bg-svg($sllider-prev);
            @media screen and (max-width: 576px) {
                transform: scale(0.8) !important;
            }
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:hover {
            &:after {
                @include bg-svg($sllider-prev-hover);
            }
        }
    }

    &__prev {
        right: auto;
        left: -48px;

        @media screen and (max-width: 992px) {
            left: -10px;
        }
        @media screen and (max-width: 576px) {
            left: 0;
        }
        @media screen and (max-width: 576px) {
            height: 40px;
            width: 40px;
        }
    }

    &__next {
        left: auto;
        right: -48px;

        &:after {
            transform: rotate(180deg);
            @media screen and (max-width: 576px) {
                transform: rotate(180deg) scale(0.8) !important;
            }
        }

        @media screen and (max-width: 992px) {
            right: -10px;
        }
        @media screen and (max-width: 576px) {
            right: 0;
        }
        @media screen and (max-width: 576px) {
            height: 40px;
            width: 40px;
        }
    }
}
