{{> header/header}}

<div class="main-banner">
    <div class="swiper-container main-banner__slider">
        <div class="swiper-wrapper">
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
            {{> main/main-slider/main-slider}}
        </div>
    </div>

    <div class="swiper-pagination main-banner__pagination"></div>
</div>


<div class="main-advantages">
    <div class="container">
        <div class="d-flex main-advantages__wrap">
            <div class="d-flex main-advantages__item">
                <div class="main-advantages__icon">
                    <img src="static/img/content/adv-icon1.svg" alt="">
                </div>
                <p>Индивидуальный <br>
                    график погашения
                </p>
            </div>

            <div class="d-flex main-advantages__item">
                <div class="main-advantages__icon">
                    <img src="static/img/content/adv-icon2.svg" alt="">
                </div>
                <p>Низкая процентная <br>ставка
                </p>
            </div>

            <div class="d-flex main-advantages__item">
                <div class="main-advantages__icon">
                    <img src="static/img/content/adv-icon3.svg" alt="">
                </div>
                <p>Поддержка начинающих <br>
                    предпринимателей
                </p>
            </div>
        </div>
    </div>
</div>
<div class="main-page-wrap">

    <div class="main-calc">
        <div class="container">
            <h3 class="block-title">Подобрать параметры займа</h3>
            {{> main/calc-form/calc-form}}
        </div>
    </div>

    <div class="main-news">
        <div class="container">
            <h3 class="block-title">Новости</h3>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="news.html" class="main-news__item" title="">
                        <div class="main-news__image">
                            <img src="static/img/content/new1.png" alt="">

                            <div class="main-news__date"><span></span>
                                <time>14.02.20</time>
                            </div>
                        </div>
                        <div class="main-news__title">
                            <p>Краевой фонд микрофинансирования признан крупнейшим в России</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="news.html" class="main-news__item" title="">
                        <div class="main-news__image">
                            <img src="static/img/content/new2.png" alt="">

                            <div class="main-news__date"><span></span>
                                <time>14.02.20</time>
                            </div>
                        </div>
                        <div class="main-news__title">
                            <p>На поддержку бизнеса направят 1,5 млрд рублей</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="news.html" class="main-news__item" title="">
                        <div class="main-news__image">
                            <img src="static/img/content/new3.png" alt="">

                            <div class="main-news__date"><span></span>
                                <time>14.02.20</time>
                            </div>
                        </div>
                        <div class="main-news__title">
                            <p>Фонд микрофинансирования Новосибирской области снизил ставки по
                                займам.</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="news.html" class="main-news__item" title="">
                        <div class="main-news__image">
                            <img src="static/img/content/new4.png" alt="">

                            <div class="main-news__date"><span></span>
                                <time>14.02.20</time>
                            </div>
                        </div>
                        <div class="main-news__title">
                            <p>Более 100 предпринимателей края получили господдержку Фонда
                                микрофинансирования</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row justify-content-center justify-content-sm-end">
                <a href="news-list.html" class="btn btn-main-border">Все новости</a>
            </div>
        </div>
    </div>

    <div class="main-history">
        <div class="container">
            <h3 class="block-title">Истории успеха</h3>

            <div class="main-history__slider-wrap">
                <div class="swiper-container main-history__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="d-flex main-history__item">
                                <div class="main-history__image">
                                    <img src="static/img/content/his1.png" alt="">
                                </div>
                                <div class="main-history__content">
                                    <h5>КФХ «Эверест»</h5>
                                    <h6>Кирилов Сергей Аркадьевич</h6>
                                    <p>Моя предпринимательская деятельность началась совсем недавно. До этого работал
                                        продолжительное время в одной компании, производившей мебель...</p>

                                    <div class="d-flex main-history__info">
                                        <time>14 июня 2019</time>

                                        <a href="history.html" title="" class="main-history__more">Читать далее</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="d-flex main-history__item">
                                <div class="main-history__image">
                                    <img src="static/img/content/his2.png" alt="">
                                </div>
                                <div class="main-history__content">
                                    <h5>ИП Алексеева Татьяна Витальевна</h5>
                                    <h6>Алексеева Татьяна Михайловна</h6>
                                    <p>Долгое время не находила себе места в попытках начать свой бизнес, все никак не
                                        получалось,
                                        не хватало средств поднять предприятие и поддерживать его....</p>

                                    <div class="d-flex main-history__info">
                                        <time>14 июня 2019</time>

                                        <a href="history.html" title="" class="main-history__more">Читать далее</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="d-flex main-history__item">
                                <div class="main-history__image">
                                    <img src="static/img/content/his1.png" alt="">
                                </div>
                                <div class="main-history__content">
                                    <h5>КФХ «Эверест»</h5>
                                    <h6>Кирилов Сергей Аркадьевич</h6>
                                    <p>Моя предпринимательская деятельность началась совсем недавно. До этого работал
                                        продолжительное время в одной компании, производившей мебель...</p>

                                    <div class="d-flex main-history__info">
                                        <time>14 июня 2019</time>

                                        <a href="history.html" title="" class="main-history__more">Читать далее</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="d-flex main-history__item">
                                <div class="main-history__image">
                                    <img src="static/img/content/his2.png" alt="">
                                </div>
                                <div class="main-history__content">
                                    <h5>ИП Алексеева Татьяна Витальевна</h5>
                                    <h6>Алексеева Татьяна Михайловна</h6>
                                    <p>Долгое время не находила себе места в попытках начать свой бизнес, все никак не
                                        получалось,
                                        не хватало средств поднять предприятие и поддерживать его....</p>

                                    <div class="d-flex main-history__info">
                                        <time>14 июня 2019</time>

                                        <a href="history.html" title="" class="main-history__more">Читать далее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev main-history__prev"></div>
                <div class="swiper-button-next main-history__next"></div>
            </div>


            <div class="row justify-content-center justify-content-sm-end">
                <a href="news.html" class="btn btn-main-border">Все истории</a>
            </div>
        </div>
    </div>

    <div class="main-partners">
        <div class="container">
            <h3 class="block-title">Наши партнеры</h3>

            <div class="main-partners__slider--wrap">
                <div class="swiper-container main-partners__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part1.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part2.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part3.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part4.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part5.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part6.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part1.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part2.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part3.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part4.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part5.png" alt="">
                        </div>
                        <div class="swiper-slide main-partners__slide">
                            <img src="static/img/content/partners/part6.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>

                <div class="swiper-button-prev main-partners__prev"></div>
                <div class="swiper-button-next main-partners__next"></div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
