.partners {
    &__block {
        margin-bottom: 8px;

        h3 {
            @extend %h3;
            margin-bottom: 32px;
            color: $dark-brown;
            @media screen and (max-width: 576px) {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 24px;
            }
        }
    }

    &__wrap {
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        margin-bottom: 32px;
        min-height: 192px;
        @media screen and (max-width: 576px) {
            flex-direction: column;
            min-height: auto;
            margin-bottom: 24px;
        }
    }

    &__image {
        align-self: stretch;
        background: $white-color;
        width: 165px;
        flex-shrink: 0;
        border: 1px solid $light-brown;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
        @media screen and (max-width: 576px) {
            width: 100%;
            height: 102px;
            margin-bottom: 18px;
            margin-right: 0;
        }

        img {
            display: block;
            width: 141px;
            margin: auto;
            @media screen and (max-width: 576px) {
                width: 100%;
                max-width: 197px;
                height: 77px;
            }
        }
    }

    &__title {
        @extend %text2;
        color: $dark-green;
        margin-bottom: 24px;
        font-family: $font-circle;
        display: block;
        text-decoration: none;
        transition: all 0.25s;
        @media screen and (max-width: 576px) {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 12px;
        }

        &:hover {
            text-decoration: none;
            color: $primary-red;
        }
    }

    &__content {
        p {
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            flex-shrink: 0;
            width: 100px;
            margin: 0;
            @media screen and (max-width: 576px) {
                width: 90px;
            }
        }

        b {
            font-weight: bold;
        }
    }

    &__line {
        margin-bottom: 16px;
        display: flex;
        align-self: flex-start;
        @media screen and (max-width: 576px) {
            margin-bottom: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: $text-color;
            transition: all 0.25s;
            display: block;
            flex-shrink: 0;
            flex-grow: 1;
            font-size: 16px;
            line-height: 20px;

            &:hover {
                color: $primary-red;
                text-decoration: none;
            }
        }
    }
}
