{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Партнеры</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h2 class="block-title">Партнеры</h2>

            <div class="partners__block">
                <h3>Заголовок для 18 партнеров</h3>
                <div class="row partners__wrap">
                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners1.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Муниципальное автономное учреждение города Новосибирска
                                «Городской центр
                                развития предпринимательства»</a>
                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 227-59-70">(383) 227-59-70</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@mispnsk.ru">info@mispnsk.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="http://www.mispnsk.ru/" target="_blank">http://www.mispnsk.ru/</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners2.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Акционерное общество «Технопарк Новосибирского
                                Академгородка»</a>

                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 227-59-70">(383) 227-59-70</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@mispnsk.ru">info@mispnsk.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="http://www.mispnsk.ru/" target="_blank">http://www.mispnsk.ru/</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners3.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Сибирская Ассоциация Автомобильных Перевозчиков</a>

                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 227-59-70">(383) 227-59-70</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@mispnsk.ru">info@mispnsk.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="http://www.mispnsk.ru/" target="_blank">http://www.mispnsk.ru/</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners4.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Некоммерческое партнерство «Сибирская гильдия
                                шеф-поваров и
                                шеф-кондитеров»</a>

                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 227-59-70">(383) 227-59-70</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@mispnsk.ru">info@mispnsk.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="http://www.mispnsk.ru/" target="_blank">http://www.mispnsk.ru/</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="partners__block">
                <h3>Заголовок для 35 партнеров</h3>
                <div class="row partners__wrap">
                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners5.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Город Новосибирск</a>
                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 000-00-00">(383) 000-00-00</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@novosibirsk.ru">info@novosibirsk.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="www.novo-sibirsk.ru" target="_blank">www.novo-sibirsk.ru</a>
                                    <a href="www.gorsovetnsk.ru" target="_blank">www.gorsovetnsk.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners6.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Город Обь</a>
                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 000-00-00">(383) 000-00-00</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@ob.ru">info@ob.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="www.gorodob.nso.ru" target="_blank">www.gorodob.nso.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners7.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Барабинский район</a>
                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 000-00-00">(383) 000-00-00</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@barabinskiy.ru">info@barabinskiy.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="www.admbaraba.nso.ru" target="_blank">www.admbaraba.nso.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-10 partners__item">
                        <div class="partners__image">
                            <img src="static/img/content/partners/partners8.svg" alt="">
                        </div>

                        <div class="partners__content">
                            <a href="#" class="partners__title">Доволенский район</a>
                            <div class="partners__line">
                                <p><b>Телефон:</b></p>
                                <div>
                                    <a href="tel:(383) 000-00-00">(383) 000-00-00</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>E-mail:</b></p>
                                <div>
                                    <a href="mailto:info@dovolenskiy.ru">info@dovolenskiy.ru</a>
                                </div>
                            </div>

                            <div class="partners__line">
                                <p><b>Сайт:</b></p>
                                <div>
                                    <a href="www.dovolnoe.nso.ru" target="_blank">www.dovolnoe.nso.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
