{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>
                    <a href="about.html">О Фонде</a>
                </li>
                <li>Финансовая отчетность</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h2 class="block-title">Документы Фонда</h2>

            <div class="row">
                <div class="col-12">
                    <div class="document-block">
                        <h3>Реестр получателей поддержки</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Реестр субъектов МСП — получателей поддержки МКК Фонда микрофинансирования НСО за
                                    2020 год
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Реестр субъектов МСП — получателей поддержки МКК Фонда микрофинансирования НСО за
                                    2020 год
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Реестр субъектов МСП — получателей поддержки МКК Фонда микрофинансирования НСО за
                                    2020 год
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Учредительные документы</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Свидетельсво о гос регистрации юр лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Свидетельство о гос регистрации НО
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Список лиц, оказывающих существенное (прямое или косвенное) влияние на решения,
                                    принимаемые органами управления унитарной некоммерческой организации –
                                    микрокредитной компании "Фонд микрофинансирования субъектов малого и среднего
                                    предпринимательства Новосибирской области"
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Устав МКК ФМ НСО от 10.02.2010 года
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Свидетельство о внесении сведении о юридическом лице в государственный реестр
                                    микрофинансовых организаций
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Учредительные документы</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Свидетельсво  о гос регистрации юр лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Свидетельство о гос регистрации НО
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Список лиц, оказывающих существенное (прямое или косвенное) влияние на решения,
                                    принимаемые органами управления унитарной некоммерческой организации –
                                    микрокредитной компании "Фонд микрофинансирования субъектов малого и среднего
                                    предпринимательства Новосибирской области"
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Устав МКК ФМ НСО от 10.02.2010 года
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Свидетельство о внесении сведении о юридическом лице в государственный реестр
                                    микрофинансовых организаций
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Стандарты деятельности</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Базовый стандарт защиты прав и интересов физических и юридических лиц - получателей
                                    финансовых услуг, оказываемых членами саморегулируемых организаций в сфере
                                    финансового рынка, объединяющих микрофинансовые организации
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Информация для получателей финансовых услуг
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Информация о рисках, получателей финансовы услуг
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Способы защиты прав получателей финансовых услуг
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Требования и рекомендации к содержанию обращения
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Виды финансовых и дополнительных услуг
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Информация о праве потребителей финансовых услуг на направление обращения
                                    финансовому уполномоченному
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Прочие документы</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Политика в отношении обработки персональных данных
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Список лиц, под контролем либо значительным влиянием которых находится
                                    микрокредитная организация
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Финансовая отчетность</h3>

                        <h3>2018-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности МКК
                                    Фонд микрофинансирования НСО за период с 01.01.2018 по 31.12.2018
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Финансовая отчетность по МСФО за 2018 год
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2017-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности
                                    МКК Фонд микрофинансирования НСО за период с 01.01.2017 по 31.12.2017
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2017
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2016-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности
                                    МКК Фонд микрофинансирования НСО за период с 01.01.2016 по 31.12.2016
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2016
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2015-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности
                                    МКК Фонд микрофинансирования НСО за период с 01.01.2015 по 31.12.2015
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2015
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2014-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности
                                    МКК Фонд микрофинансирования НСО за период с 01.01.2014 по 31.12.2014
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2014
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2013-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности
                                    МКК Фонд микрофинансирования НСО за период с 01.01.2013 по 31.12.2013
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2013
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2012-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности
                                    МКК Фонд микрофинансирования НСО за период с 01.01.2012 по 31.12.2012
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2012
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2011-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности МКК
                                    Фонд микрофинансирования НСО за период с 01.01.2011 по 31.12.2011
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Бухгалтерский баланс на 31.12.2011
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о финансовых результатах
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт об изменениях капитала
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о движении денежных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Пояснения к бухгалтерскому балансу
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Отчёт о целевом использовании полученных средств
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>2010-й год</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>
                                    Аудиторское заключение ООО «ЛИДЕР АУДИТ» о бухгалтерской (финансовой) отчётности МКК
                                    Фонд микрофинансирования НСО за период с 01.01.2010 по 31.12.2010
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
