.document-block {
    margin-bottom: 32px;

    @media screen and (max-width: 576px) {
        margin-bottom: 24px;
    }

    h3 {
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        color: $dark-brown;
        letter-spacing: 0.005em;
        margin: 0 0 24px;
        @media screen and (max-width: 576px) {
            font-size: 22px;
            line-height: 26px;
        }
    }
}

.document-item {
    padding-left: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    $f: &;
    @media screen and (max-width: 768px) {
        padding-left: 0;
    }

    &:hover {
        text-decoration: none;
        .icon-document {
            @include bg-svg($icon-document-hover);
        }
        #{$f}__text {
            color: $primary-red;
        }
    }

    .icon-document {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        margin-right: 10px;
    }

    &__text {
        min-height: 32px;
        display: flex;
        align-items: center;
        color: $dark-green;
        font-size: 18px;
        line-height: 24px;
        transition: all 0.25s;
    }

    &__size {
        padding-left: 24px;
        font-weight: 350;
        font-size: 16px;
        line-height: 20px;
        color: $text-color2;
        @media screen and (max-width: 576px) {
            padding-left: 8px;
        }
    }
}
