{{> header/header}}

<div>
    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li>
                    <a href="main.html">Главная</a>
                </li>
                <li>Документы</li>
            </ul>
        </div>
    </div>

    <div class="page">
        <div class="container">
            <h2 class="block-title">Документы</h2>

            <div class="row">
                <div class="col-12">
                    <div class="document-block">
                        <h3>Документы на получение займов для Юр.лиц</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Название документа
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Название документа
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Название документа
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Название документа
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Документы на получение займов для ИП</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Название документа
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Информация о праве потребителей финансовых услуг на направление обращения
                                    финансовому
                                    уполномоченному, подлежащая размещению микрофинансовыми организациями в местах
                                    оказания
                                    услуг, в
                                    том числе на своем официальном сайте в сети Интернет
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Уведомления</h3>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Уведомление получателю финансовых услуг о рисках, связанных с заключением и исполнением получателем финансовой услуги условий договора об оказании финансовой услуги, и возможных негативных финансовых последствиях при использовании финансовой услуги
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Информация о праве потребителей финансовых услуг на направление обращения финансовому уполномоченному, подлежащая размещению микрофинансовыми организациями в местах оказания услуг, в том числе на своем официальном сайте в сети Интернет
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="document-block">
                        <h3>Документы на получение займов для Юр.лиц</h3>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора займа с ИП/ГКФХ (с залогом)
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора займа с ИП/ГКФХ (без залога)
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора займа с юридическим лицом
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора залога объекта недвижимости физического лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора залога объекта недвижимости юридического лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора залога транспортного средства/оборудования физического лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора залога транспортного средства/оборудования юридического лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора поручительства физического лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>

                        <a href="#" download="download" class="d-flex document-item">
                            <div class="icon-document"></div>
                            <div class="document-item__text">
                                <div>Шаблон договора поручительства юридического лица
                                    <span class="document-item__size">(0,92 Mb)</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer/footer}}
